<html>
<head>
  <script src="https://amdevel.1d3a.com/imgfiles/js/jquery-3.1.1.min.js"></script>

  <link href="https://amdevel.1d3a.com/imgfiles/css/bootstrap.min.css" rel="stylesheet">
      <link href="https://amdevel.1d3a.com/imgfiles/font-awesome/css/font-awesome.css" rel="stylesheet">
      <link href="https://amdevel.1d3a.com/imgfiles/css/plugins/iCheck/custom.css" rel="stylesheet">
      <link href="https://amdevel.1d3a.com/imgfiles/css/plugins/chosen/bootstrap-chosen.css" rel="stylesheet">
      <link href="https://amdevel.1d3a.com/imgfiles/css/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet">
      <link href="https://amdevel.1d3a.com/imgfiles/css/plugins/colorpicker/bootstrap-colorpicker.min.css" rel="stylesheet">
      <link href="https://amdevel.1d3a.com/imgfiles/css/plugins/cropper/cropper.min.css" rel="stylesheet">
      <link href="https://amdevel.1d3a.com/imgfiles/css/plugins/switchery/switchery.css" rel="stylesheet">
      <link href="https://amdevel.1d3a.com/imgfiles/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
      <link href="https://amdevel.1d3a.com/imgfiles/css/plugins/nouslider/jquery.nouislider.css" rel="stylesheet">
      <link href="https://amdevel.1d3a.com/imgfiles/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
      <link href="https://amdevel.1d3a.com/imgfiles/css/plugins/ionRangeSlider/ion.rangeSlider.css" rel="stylesheet">
      <link href="https://amdevel.1d3a.com/imgfiles/css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css" rel="stylesheet">
      <link href="https://amdevel.1d3a.com/imgfiles/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
      <link href="https://amdevel.1d3a.com/imgfiles/css/plugins/clockpicker/clockpicker.css" rel="stylesheet">
      <link href="https://amdevel.1d3a.com/imgfiles/css/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet">
      <link href="https://amdevel.1d3a.com/imgfiles/css/plugins/select2/select2.min.css" rel="stylesheet">
      <link href="https://amdevel.1d3a.com/imgfiles/css/plugins/touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet">
      <link href="https://amdevel.1d3a.com/imgfiles/css/plugins/dualListbox/bootstrap-duallistbox.min.css" rel="stylesheet">
      <link href="https://amdevel.1d3a.com/imgfiles/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="https://amdevel.1d3a.com/imgfiles/dataTables.bootstrap.min.css">
      <script src="https://amdevel.1d3a.com/imgfiles/js/plugins/dataTables/dataTables.bootstrap4.min.js"></script>
      <link href="https://amdevel.1d3a.com/imgfiles/css/animate.css" rel="stylesheet">
      <link href="https://amdevel.1d3a.com/imgfiles/css/style.css" rel="stylesheet">
      <link href="https://amdevel.1d3a.com/imgfiles/css/plugins/jsTree/style.min.css" rel="stylesheet">
      <link href="https://amdevel.1d3a.com/imgfiles/css/plugins/jsTree/proton/style.css" rel="stylesheet">
      <!-- Mainly scripts -->
      <script src="https://amdevel.1d3a.com/imgfiles/js/popper.min.js"></script>
      <script src="https://amdevel.1d3a.com/imgfiles/js/bootstrap.js"></script>
      <!-- Custom and plugin javascript -->
      <script src="https://amdevel.1d3a.com/imgfiles/js/inspinia.js"></script>
      <script src="https://amdevel.1d3a.com/imgfiles/js/plugins/pace/pace.min.js"></script>
      <script src="https://amdevel.1d3a.com/imgfiles/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
      <!-- Chosen -->
      <script src="https://amdevel.1d3a.com/imgfiles/js/plugins/chosen/chosen.jquery.js"></script>
      <!-- JSKnob -->
      <script src="https://amdevel.1d3a.com/imgfiles/js/plugins/jsKnob/jquery.knob.js"></script>
     <!-- Input Mask-->
      <script src="https://amdevel.1d3a.com/imgfiles/js/plugins/jasny/jasny-bootstrap.min.js"></script>
     <!-- Data picker -->
     <script src="https://amdevel.1d3a.com/imgfiles/js/plugins/datapicker/bootstrap-datepicker.js"></script>
     <!-- NouSlider -->
     <script src="https://amdevel.1d3a.com/imgfiles/js/plugins/nouslider/jquery.nouislider.min.js"></script>
     <!-- Switchery -->
     <script src="https://amdevel.1d3a.com/imgfiles/js/plugins/switchery/switchery.js"></script>
      <!-- IonRangeSlider -->
      <script src="https://amdevel.1d3a.com/imgfiles/js/plugins/ionRangeSlider/ion.rangeSlider.min.js"></script>
      <!-- iCheck -->
      <script src="https://amdevel.1d3a.com/imgfiles/js/plugins/iCheck/icheck.min.js"></script>
      <!-- MENU -->
      <script src="https://amdevel.1d3a.com/imgfiles/js/plugins/metisMenu/jquery.metisMenu.js"></script>
      <!-- Color picker -->
      <script src="https://amdevel.1d3a.com/imgfiles/js/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>
      <!-- Clock picker -->
      <script src="https://amdevel.1d3a.com/imgfiles/js/plugins/clockpicker/clockpicker.js"></script>
      <!-- Image cropper -->
      <script src="https://amdevel.1d3a.com/imgfiles/js/plugins/cropper/cropper.min.js"></script>
      <!-- Date range use moment.js same as full calendar plugin -->
      <script src="https://amdevel.1d3a.com/imgfiles/js/plugins/fullcalendar/moment.min.js"></script>
      <!-- Date range picker -->
      <script src="https://amdevel.1d3a.com/imgfiles/js/plugins/daterangepicker/daterangepicker.js"></script>
      <!-- Select2
      <script src="https://amdevel.1d3a.com/imgfiles/js/plugins/select2/select2.full.min.js"></script>-->
      <!-- TouchSpin -->
      <script src="https://amdevel.1d3a.com/imgfiles/js/plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script>
      <!-- Tags Input -->
      <script src="https://amdevel.1d3a.com/imgfiles/js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
      <!-- Dual Listbox -->
      <script src="https://amdevel.1d3a.com/imgfiles/js/plugins/dualListbox/jquery.bootstrap-duallistbox.js"></script>
      <!-- Data Tables-->
      <script src="https://amdevel.1d3a.com/imgfiles/js/plugins/dataTables/datatables.min.js"></script>
      <script src="https://amdevel.1d3a.com/imgfiles/js/plugins/dataTables/dataTables.bootstrap4.min.js"></script>
      <script src="https://amdevel.1d3a.com/imgfiles/js/plugins/dataTables/date-euro.js"></script>
      <!-- Jquery Validate -->
      <script src="https://amdevel.1d3a.com/imgfiles/js/plugins/validate/jquery.validate.min.js"></script>
      <!-- JS Tree-->
      <script src="https://amdevel.1d3a.com/imgfiles/js/plugins/jsTree/jstree.min.js"></script>
</head>
<body style="background-color:#f8f9fa;">


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"> </script>

   <script>
     var host=window.location.host;
     var randomNum = Math.floor((Math.random() * 8000000000000000) + 1000000000000000);
if (
host=="amdevel.1d3a.com"||
host=="localhost:8969"||
host=="192.168.0.135:8969"||
host=="192.168.1.130:8969"
){
  blackboard3Denvironment="bmdevel.1d3a.com";
}else{
  blackboard3Denvironment="blackboard.1d3a.com";
}


function listAvalSports(uidDeporteGET=undefined){


  if (document.getElementById("BlackBoard_tablas_Deportes")) {
    document.getElementById("BlackBoard_tablas_Deportes").style.display="block";
    document.getElementById("BlackBoard_tablas_Plantillas").style.display="none";
document.getElementById("BlackBoard_tablas_Utensilios").style.display="none";
$("#navDeportes").addClass("btn-outline bg-dark text-light");
$("#navDeportes").removeClass("text-dark");
$("#navUtensilios").removeClass("btn-outline bg-dark");
$("#navPlantillas").removeClass("btn-outline bg-dark");

$("#navPlantillas").addClass("text-dark");
$("#navUtensilios").addClass("text-dark");

    axios.get('https://'+blackboard3Denvironment+'/blackboard.adminManager?token='+randomNum).then(function(response){
      var query;
      if (uidDeporteGET!=undefined) {
          query='https://'+blackboard3Denvironment+'/blackboard.adminManager?token2='+(response.data*randomNum)*2+'&type=listAvalSports&UidDeporteGET='+uidDeporteGET;
      }else{
        query='https://'+blackboard3Denvironment+'/blackboard.adminManager?token2='+(response.data*randomNum)*2+'&type=listAvalSports';
      }
    axios.get(query).then(function(response){
    if (response.data.length==0) {
    console.log("NO HAY DATOS RECIVIDOS");
    }else{
      console.log(response);
  document.getElementById("BlackBoard_tablas_Deportes").innerHTML="";
  for(var i=0;i<response.data.length;i++){
    // response.data[i].UidDeporte;
    var buttonStyle;
    var buttonText;
    if (response.data[i].Activo=="S") {
      buttonStyle="green";
      buttonText="Activado";
    }else{
      buttonStyle="red";
      buttonText="Desactivado";

    }
  document.getElementById("BlackBoard_tablas_Deportes").innerHTML+=`
  <div id="Deporte${response.data[i].UidDeporte}">
  <!--hr -->
  <div class="card-head">
  <h3 class="card-tittle" style="text-align:center;">${response.data[i].NombreDeporte} <span class="badge badge-secondary">Deporte</span></h3>
  </div>
  <div class="container-fluid row">

  <div class="col-3">
  <div class="infoDeporte_Blackboard">

  <div class="card">

  <img class="imgDeporte_Blackboard card-img" src="${response.data[i].ImgDeporte} ">

  </div>
  </div>
  </div>
  <div class="col-sm">
  <div class="card">
  <div class="card-body">
  <p class="card-text">

    <ul class="list-group">
      <li class="list-group-item"><b>UID</b>:${response.data[i].UidDeporte}</li>
      <li class="list-group-item"><b>Nombre</b>:${response.data[i].NombreDeporte}</li>
      <li class="list-group-item"><b>IdDeporteAsociado</b>:${response.data[i].IdDeporteAsociado}</li>
      <li class="list-group-item"><b>Activo</b>:${response.data[i].Activo}</li>
  <li class="list-group-item"><b>Plantilla Predeterminada</b>:${response.data[i].idPlantillaPred}
  <a onclick="searchParamsPlant(idDeporte=undefined,${response.data[i].idPlantillaPred})" class="btn btn-secondary" style="color:white;">Ver Plantilla</a>
  </li>

</ul>




  </p>
  </div>
  </div>
  <br>
  <div class="botonGroup_Blackboard" style="display:flex;">
  <a class="btn btn-primary" href="#"  >
  Plantillas <!-- Aqui listar las plantillas filtradas por deporte -->
  </a>
  <a class="btn btn-primary" href="#"  >
  Utensilios <!-- Aqui listar los utensilios filtrados por deporte -->
  </a>
  <a style="color:white;" class="btn btn-secondary" onClick="updateModalSports(${response.data[i].UidDeporte});" id="activar${response.data[i].UidDeporte}Dropdown" data-toggle="modal" data-target="#modal_Blackboard_EditDeporte">
  Editar
  </a>
  <div class="dropdown show">

  <a id="${response.data[i].UidDeporte}IDActButton" style="background:${buttonStyle};color:white;"class="btn btn-secondary dropdown-toggle " role="button"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
${buttonText}
  </a>
  <div class="dropdown-menu btn-success"  >
  <a  onclick="activateButton('activateButtonSports','S',${response.data[i].UidDeporte})" class="dropdown-item " style="background-color:green;color:white;" >Activar</a>
  <a  onclick="activateButton('activateButtonSports','N',${response.data[i].UidDeporte})" class="dropdown-item " style="background-color:red;color:white;" >Desactivar</a>
  </div>
  </div>
  <a style="color:white;" onclick="updateModalAreUsure('deleteSports',' eliminar ${response.data[i].NombreDeporte}',${response.data[i].UidDeporte});" class="btn btn-secondary btn-danger"  data-target="#modal_Blackboard_AreUSure" data-toggle="modal">
  Eliminar
  </a>
  </div>

  </div>
  </div>


  </div>
  <hr>
  `;


  }








    }
    });
    });
  }

}

function updateModalSports(uidDeporteGET=undefined){
  if (document.getElementById("BlackBoard_tablas_Deportes")) {
    axios.get('https://'+blackboard3Denvironment+'/blackboard.adminManager?token='+randomNum).then(function(response){
      var query;
      if (uidDeporteGET!=undefined) {
          query='https://'+blackboard3Denvironment+'/blackboard.adminManager?token2='+(response.data*randomNum)*2+'&type=listAvalSports&UidDeporteGET='+uidDeporteGET;
      }else{
        query='https://'+blackboard3Denvironment+'/blackboard.adminManager?token2='+(response.data*randomNum)*2+'&type=listAvalSports';
      }
    axios.get(query).then(function(response){
    if (response.data.length==0) {
    console.log("NO HAY DATOS RECIVIDOS");
    }else{
      // console.log(response);
      $("#BlackboardModal_UidDeporte")[0].value=response.data[0].UidDeporte;
      $("#BlackboardModal_NombreDeporte")[0].value=response.data[0].NombreDeporte;
      $("#BlackboardModal_IdDeporteAsociado")[0].value=response.data[0].IdDeporteAsociado;
      $("#BlackboardModal_Activo")[0].value=response.data[0].Activo;
$("#BlackboardModal_idPlantillaPred")[0].value=response.data[0].idPlantillaPred;
$("#BlackboardModal_ImgDeporte")[0].value=response.data[0].ImgDeporte;
    }
    });
    });
  }
}



function updateSportBlackboard(){

  var params = new URLSearchParams();
  params.append('token', randomNum);

  axios({
    method: 'post',
    url: 'https://'+blackboard3Denvironment+'/blackboard.adminManager',
    data: params
  }).then(function(response){
    var params2 = new URLSearchParams();
    params2.append('token2', (response.data*randomNum)*2);
    params2.append('type',"updateSport");
    params2.append('UidDeporteGET',$("#BlackboardModal_UidDeporte")[0].value);
    params2.append('UidDeporte',$("#BlackboardModal_UidDeporte")[0].value);
    params2.append('IdDeporteAsociado',$("#BlackboardModal_IdDeporteAsociado")[0].value);
    params2.append('NombreDeporte', $("#BlackboardModal_NombreDeporte")[0].value);
    params2.append('ImgDeporte', $("#BlackboardModal_ImgDeporte")[0].value);
    params2.append('idPlantillaPred', $("#BlackboardModal_idPlantillaPred")[0].value);
    params2.append('Activo', $("#BlackboardModal_Activo")[0].value);
//     =response.data[0].UidDeport;
//     =response.data[0].NombreDeporte;
//     =response.data[0].IdDeporteAsociado;
//     =response.data[0].Activo;
// =response.data[0].idPlantillaPred;

    axios({
      method: 'post',
      url: 'https://'+blackboard3Denvironment+'/blackboard.adminManager',
      data: params2
    }).then(function(response){
  console.log("COMPLETADO CON EXITO");
  console.log(response);
  listAvalSports();
  updateModalSports();
    });
  });

}

function activateButton(method,isactivated,idtochange){
  var params = new URLSearchParams();
  params.append('token', randomNum);

  axios({
    method: 'post',
    url: 'https://'+blackboard3Denvironment+'/blackboard.adminManager',
    data: params
  }).then(function(response){
    var params2 = new URLSearchParams();
    params2.append('token2', (response.data*randomNum)*2);
    params2.append('type', method);
    if (method=="activateButtonTemplates") {
      params2.append('UidItem', idtochange);
    }else{
      if (method=="activateButtonTemplates") {
        params2.append('UidPlantilla', idtochange);
      }else{
        params2.append('UidDeporteGET', idtochange);
      }
    }
    params2.append('Activo', isactivated);





    axios({
      method: 'post',
      url: 'https://'+blackboard3Denvironment+'/blackboard.adminManager',
      data: params2
    }).then(function(response){
  console.log("COMPLETADO CON EXITO");
  console.log(response);
  if (isactivated=="S") {
    document.getElementById(idtochange+"IDActButton").style.background="green";
  }else{
    document.getElementById(idtochange+"IDActButton").style.background="red";
  }

  if (method=="activateButtonUtils") {
    listAvalUtils();
    updateModalUtils();
  }else{
    if (method=="activateButtonTemplates") {
      listAvalTemplates();
      updateModalTemplates();
    }else{
      listAvalSports();
      updateModalSports();
    }
  }
    });
  });
}

function deleteButtonAreUSure(method,accion,uid){
  var params = new URLSearchParams();
  params.append('token', randomNum);
  axios({
    method: 'post',
    url: 'https://'+blackboard3Denvironment+'/blackboard.adminManager',
    data: params
  }).then(function(response){
    var params2 = new URLSearchParams();
    params2.append('token2', (response.data*randomNum)*2);
    params2.append('type', method);
    params2.append('UidDeporteGET', uid);
    axios({
      method: 'post',
      url: 'https://'+blackboard3Denvironment+'/blackboard.adminManager',
      data: params2
    }).then(function(response){
  console.log("COMPLETADO CON EXITO");
  console.log(response);
  if (method=="deleteUtils"){
    listAvalUtils();
    updateModalUtils();
  }else{
    if (method=="deleteTemplates") {
      listAvalTemplates();
      updateModalTemplates();
    }else{
      listAvalSports();
      updateModalSports();
    }
  }
    });
  });
}

function updateModalAreUsure(method,accion,uid){
  $("#AreUSureButton").attr("onclick","deleteButtonAreUSure('"+method+"','"+accion+"',"+uid+")");
  $("#accion_AreUSure, #accion_AreUSure2, #accion_AreUSure3").html(accion);
//aqui falta el nombre lo hare cuando termine de crear
}
function createNew(method){
  var params = new URLSearchParams();
  params.append('token', randomNum);

  axios({
    method: 'post',
    url: 'https://'+blackboard3Denvironment+'/blackboard.adminManager',
    data: params
  }).then(function(response){
    var params2 = new URLSearchParams();
    params2.append('token2', (response.data*randomNum)*2);
    params2.append('type', method);
        if (method=="createNewUtil") {
          params2.append('NombreItem',$("#BlackboardModal_NombreItem_Util_NEW")[0].value);
          params2.append('NombreCat', $("#BlackboardModal_NombreCat_Util_NEW")[0].value);
          params2.append('Value', $("#BlackboardModal_Value_Util_NEW")[0].value);
          params2.append('Img', $("#BlackboardModal_Img_Util_NEW")[0].value);
          params2.append('spanFunction', $("#BlackboardModal_spanFunction_Util_NEW")[0].value);
          params2.append('IdDeporteAsociado', $("#BlackboardModal_IdDeporteAsociado_Util_NEW")[0].value);
          params2.append('Activo', $("#BlackboardModal_Activo_Util_NEW")[0].value);
        }else{
          if (method=="createNewTemplate") {
            params2.append('IdPlantilla',$("#BlackboardModal_IdPlantilla_Template_NEW")[0].value);
            params2.append('NombrePlantilla', $("#BlackboardModal_NombrePlantilla_Template_NEW")[0].value);
            params2.append('TexturePlaneCampo', $("#BlackboardModal_TexturePlaneCampo_Template_NEW")[0].value);
            params2.append('TextureWidth', $("#BlackboardModal_TextureWidth_Template_NEW")[0].value);
            params2.append('TextureHeight', $("#BlackboardModal_TextureHeight_Template_NEW")[0].value);
            params2.append('ItemsAsociados', $("#BlackboardModal_ItemsAsociados_Template_NEW")[0].value);
            params2.append('IdSubPlantilla', $("#BlackboardModal_IdSubPlantilla_Template_NEW")[0].value);
            params2.append('IdDeporteAsociado', $("#BlackboardModal_IdDeporteAsociado_Template_NEW")[0].value);
            params2.append('position3D_x', $("#BlackboardModal_position3D_x_Template_NEW")[0].value);
            params2.append('position3D_y', $("#BlackboardModal_position3D_y_Template_NEW")[0].value);
            params2.append('position3D_z', $("#BlackboardModal_position3D_z_Template_NEW")[0].value);
            params2.append('scale3D_x', $("#BlackboardModal_scale3D_x_Template_NEW")[0].value);
            params2.append('scale3D_y', $("#BlackboardModal_scale3D_y_Template_NEW")[0].value);
            params2.append('scale3D_z', $("#BlackboardModal_scale3D_z_Template_NEW")[0].value);

            params2.append('Color_FondoPlano', $("#BlackboardModal_Color_FondoPlano_Template")[0].value);
            params2.append('Activo', $("#BlackboardModal_Activo_Template_NEW")[0].value);


          }else{
            params2.append('IdDeporteAsociado',$("#BlackboardModal_IdDeporteAsociado_New")[0].value);
            params2.append('NombreDeporte', $("#BlackboardModal_NombreDeporte_New")[0].value);
            params2.append('ImgDeporte', $("#BlackboardModal_ImgDeporte_New")[0].value);
            params2.append('idPlantillaPred', $("#BlackboardModal_idPlantillaPred_New")[0].value);
            params2.append('Activo', $("#BlackboardModal_Activo_New")[0].value);
          }
        }


    axios({
      method: 'post',
      url: 'https://'+blackboard3Denvironment+'/blackboard.adminManager',
      data: params2
    }).then(function(response){
  console.log("COMPLETADO CON EXITO");
  console.log(response);

if (method=="createNewTemplate") {
  listAvalUtils();
  updateModalUtils();
}else{
  if (method=="createNewTemplate") {
    listAvalTemplates();
    updateModalTemplates();
}else{
  listAvalSports();
  updateModalSports();
}
}

    });
  });
};



function listAvalTemplates(UidPlantilla){

  document.getElementById("BlackBoard_tablas_Deportes").style.display="none";
  document.getElementById("BlackBoard_tablas_Plantillas").style.display="block";
  document.getElementById("BlackBoard_tablas_Utensilios").style.display="none";

  $("#navDeportes").removeClass("btn-outline bg-dark text-light");
  $("#navUtensilios").removeClass("btn-outline bg-dark text-light");

  $("#navPlantillas").addClass("text-dark");
  $("#navDeportes").addClass("text-dark");




  $("#navPlantillas").addClass("btn-outline bg-dark text-light");
  $("#navPlantillas").removeClass("text-dark");

  $("#navUtensilios").removeClass("btn-outline bg-dark");
  $("#navDeportes").removeClass("btn-outline bg-dark");

  $("#navDeportes").addClass("text-dark");
  $("#navUtensilios").addClass("text-dark");

  // $("#navDeportes").addClass("text-dark");

  // if (document.getElementById("BlackBoard_tablas_Deportes")) {
    axios.get('https://'+blackboard3Denvironment+'/blackboard.adminManager?token='+randomNum).then(function(response){
      var query;
      if (UidPlantilla!=undefined) {
          query='https://'+blackboard3Denvironment+'/blackboard.adminManager?token2='+(response.data*randomNum)*2+'&type=listAvalTemplates&UidPlantilla='+UidPlantilla;
      }else{
        query='https://'+blackboard3Denvironment+'/blackboard.adminManager?token2='+(response.data*randomNum)*2+'&type=listAvalTemplates';
      }
    axios.get(query).then(function(response){
    if (response.data.length==0) {
    console.log("NO HAY DATOS RECIVIDOS listAvalTemplates");
    }else{
      console.log(response);
  document.getElementById("BlackBoard_tablas_Plantillas").innerHTML="";
  for(var i=0;i<response.data.length;i++){
    // response.data[i].UidDeporte;
    var buttonStyle;
    var buttonText;
    if (response.data[i].Activo=="S") {
      buttonStyle="green";
      buttonText="Activado";
    }else{
      buttonStyle="red";
      buttonText="Desactivado";

    }
  document.getElementById("BlackBoard_tablas_Plantillas").innerHTML+=`
  <div id="${response.data[i].UidPlantilla}plantilla">
  <!-- hr -->
  <div class="card-head">
  <h3 class="card-tittle" style="text-align:center;">${response.data[i].NombrePlantilla} <span class="badge badge-secondary">Plantilla</span></h3>
  </div>
  <div class="container-fluid row">

  <div class="col-4">
  <div class="infoPlantillas_Blackboard" >

  <div class="card" >

  <img class="imgDeporte_Blackboard card-img" src="${response.data[i].TexturePlaneCampo}">

  </div>
  </div>
  </div>
  <div class="col-sm">
  <div class="card">
  <div class="card-body">
  <p class="card-text">
  <ul class="list-group">
    <li class="list-group-item"><b>UID</b>:${response.data[i].UidPlantilla}</li>
    <li class="list-group-item"><b>ID Plantilla</b>:${response.data[i].IdPlantilla}</li>
    <li class="list-group-item"><b>NombrePlantilla</b>:${response.data[i].NombrePlantilla}</li>
    <li class="list-group-item"><b>TextureWidth</b>:${response.data[i].TextureWidth} Metros</li>
    <li class="list-group-item"><b>TextureHeight</b>:${response.data[i].TextureHeight} Metros</li>
    <li class="list-group-item"><b>ItemsAsociados</b>:${response.data[i].ItemsAsociados}</li>
    <li class="list-group-item"><b>position3D</b>: X_${response.data[i].position3D_x} Y_${response.data[i].position3D_y} Z_${response.data[i].position3D_z}</li>
    <li class="list-group-item"><b>scale3D</b>: X_${response.data[i].scale3D_x} Y_${response.data[i].scale3D_y} Z_${response.data[i].scale3D_z}</li>
    <li class="list-group-item"><b>color</b>: ${response.data[i].Color_FondoPlano}</li>
    <li class="list-group-item"><b>ID Plantilla Secundaria</b>:${response.data[i].IdSubPlantilla}
    <a onclick="searchParamsPlant(undefined,${response.data[i].IdSubPlantilla});"class="btn btn-secondary" style="color:white;">Ver Plantilla </a>
    </li>
  <li class="list-group-item"><b>Deporte Asociado</b>:${response.data[i].IdDeporteAsociado}
  <a onclick="searchParamsPlant(${response.data[i].IdDeporteAsociado});" class="btn btn-secondary" style="color:white;">Ver Deporte </a>
  </li>
  <li class="list-group-item"><b>Activo</b>:${response.data[i].Activo}</li>

  </ul>

  <!-- a class="btn btn-secondary" style="color:white;">Deporte Asociado</a>
  <a class="btn btn-secondary" style="color:white;">Plantilla Secundaria</a -->
  </p>
  </div>
  </div>
  <br>
  <div class="botonGroup_Blackboard" style="display:flex;">

  <a class="btn btn-primary"  href="#"     >
  Utensilios
  </a>
  <a style="color:white;" class="btn btn-secondary"  onClick="updateModalTemplates(${response.data[i].UidPlantilla});"  data-target="#modal_Blackboard_EditPlantilla" data-toggle="modal" >
  Editar
  </a>
  <div class="dropdown show">
  <a id="${response.data[i].UidPlantilla}IDActButton" style="background:${buttonStyle};color:white;"class="btn btn-secondary dropdown-toggle " role="button"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
${buttonText}
  </a>
  <div class="dropdown-menu btn-success"  >
  <a  onclick="activateButton('activateButtonTemplates','S',${response.data[i].UidPlantilla})" class="dropdown-item " style="background-color:green;color:white;" >Activar</a>
  <a  onclick="activateButton('activateButtonTemplates','N',${response.data[i].UidPlantilla})" class="dropdown-item " style="background-color:red;color:white;" >Desactivar</a>
  </div>
  </div>
  <a style="color:white;" onclick="updateModalAreUsure('deleteTemplates',' eliminar ${response.data[i].NombrePlantilla}',${response.data[i].UidPlantilla});" class="btn btn-secondary btn-danger"  data-target="#modal_Blackboard_AreUSure" data-toggle="modal">
  Eliminar
  </a>
  </div>

  </div>
  </div>

  </div>
  <hr>
  `;


  }








    }
    });
    });
  // }

}


var InfoDeporteAsociado;
var InfoIdPlantilla;
var InfoIdSubPlantilla;
var InfoItemsAsociados;
var InfoNombrePlantilla;
var InfoTextureWidth;
var InfoTextureHeight;
var InfoTexturePlaneCampo;
var InfoUidPlantilla;
var scale3D_x;
var scale3D_y;
var scale3D_z;
var position3D_x;
var position3D_y;
var position3D_z;
var Color_FondoPlano;

var InfoUidDeporte;
var InfoNombreDeporte;
var InfoIdDeporteAsociado;
var InfoImgDeporte;
var InfoidPlantillaPred;
var InfoActivo;

var UidDeporte;

function searchParamsPlant(idDeporte=undefined,idPlant=undefined){
    axios.get('https://'+blackboard3Denvironment+'/blackboard.adminManager?token='+randomNum).then(function(response){
var query;
      if (idPlant!=undefined) {
        query='https://'+blackboard3Denvironment+'/blackboard.adminManager?token2='+(response.data*randomNum)*2+'&type=searchParamsPlant&IdPlantillaGET='+idPlant;
      }else{
        query='https://'+blackboard3Denvironment+'/blackboard.adminManager?token2='+(response.data*randomNum)*2+'&type=searchParamsPlant&IdDeporteAsociado='+idDeporte;
      }
    axios.get(query).then(function(response){
    if (response.data.length==0) {
      console.log("NO HAY DATOS RECIVIDOS searchParamsPlant");
    }else{
  console.log(response);

   if (idPlant!=undefined){
     InfoDeporteAsociado=response.data[0].IdDeporteAsociado;
     InfoIdPlantilla=response.data[0].IdPlantilla;
     InfoIdSubPlantilla=response.data[0].IdSubPlantilla;
     InfoItemsAsociados=response.data[0].ItemsAsociados;
     InfoNombrePlantilla=response.data[0].NombrePlantilla;
    InfoTextureWidth=response.data[0].TextureWidth;
     InfoTextureHeight=response.data[0].TextureHeight;
     InfoTexturePlaneCampo=response.data[0].TexturePlaneCampo;
     InfoUidPlantilla=response.data[0].UidPlantilla;
      scale3D_x=response.data[0].scale3D_x;
      scale3D_y=response.data[0].scale3D_y;
      scale3D_z=response.data[0].scale3D_z;
      position3D_x=response.data[0].position3D_x;
      position3D_y=response.data[0].position3D_y;
      position3D_z=response.data[0].position3D_z;
      Color_FondoPlano=response.data[0].Color_FondoPlano;

     listAvalTemplates(InfoUidPlantilla);

   }else{

     InfoUidDeporte=response.data[0].UidDeporte;
     InfoIdDeporteAsociado=response.data[0].IdDeporteAsociado;
     InfoNombreDeporte=response.data[0].NombreDeporte;
     InfoImgDeporte=response.data[0].ImgDeporte;
     InfoidPlantillaPred=response.data[0].idPlantillaPred;
    InfoActivo=response.data[0].Activo;


     listAvalSports(InfoUidDeporte);

   }
    }
  });
    });


}

function updateModalTemplates(UidPlantilla=undefined){
  if (document.getElementById("BlackBoard_tablas_Deportes")) {
    axios.get('https://'+blackboard3Denvironment+'/blackboard.adminManager?token='+randomNum).then(function(response){
      var query;
      if (UidPlantilla!=undefined) {
          query='https://'+blackboard3Denvironment+'/blackboard.adminManager?token2='+(response.data*randomNum)*2+'&type=listAvalTemplates&UidPlantilla='+UidPlantilla;
      }else{
        query='https://'+blackboard3Denvironment+'/blackboard.adminManager?token2='+(response.data*randomNum)*2+'&type=listAvalTemplates';
      }
    axios.get(query).then(function(response){
    if (response.data.length==0) {
    console.log("NO HAY DATOS RECIVIDOS");
    }else{
      // console.log(response);
      $("#BlackboardModal_UidPlantilla_Template")[0].value=response.data[0].UidPlantilla;
      $("#BlackboardModal_IdPlantilla_Template")[0].value=response.data[0].IdPlantilla;
      $("#BlackboardModal_NombrePlantilla_Template")[0].value=response.data[0].NombrePlantilla;
      $("#BlackboardModal_TexturePlaneCampo_Template")[0].value=response.data[0].TexturePlaneCampo;
      $("#BlackboardModal_TextureWidth_Template")[0].value=response.data[0].TextureWidth;
      $("#BlackboardModal_TextureHeight_Template")[0].value=response.data[0].TextureHeight;
      $("#BlackboardModal_ItemsAsociados_Template")[0].value=response.data[0].ItemsAsociados;
      $("#BlackboardModal_IdSubPlantilla_Template")[0].value=response.data[0].IdSubPlantilla;
      $("#BlackboardModal_IdDeporteAsociado_Template")[0].value=response.data[0].IdDeporteAsociado;
      $("#BlackboardModal_IdDeporteAsociado_Template")[0].value=response.data[0].IdDeporteAsociado;
      $("#BlackboardModal_scale3D_x_Template")[0].value=response.data[0].scale3D_x;
      $("#BlackboardModal_scale3D_y_Template")[0].value=response.data[0].scale3D_y;
      $("#BlackboardModal_scale3D_z_Template")[0].value=response.data[0].scale3D_z;
      $("#BlackboardModal_position3D_x_Template")[0].value=response.data[0].position3D_x;
      $("#BlackboardModal_position3D_y_Template")[0].value=response.data[0].position3D_y;
      $("#BlackboardModal_position3D_z_Template")[0].value=response.data[0].position3D_z;
$("#BlackboardModal_Color_FondoPlano_Template")[0].value=response.data[0].Color_FondoPlano;

$("#BlackboardModal_Activo_Template")[0].value=response.data[0].Activo;

    }
    });
    });
  }
}



function updateTemplateBlackboard(){

  var params = new URLSearchParams();
  params.append('token', randomNum);

  axios({
    method: 'post',
    url: 'https://'+blackboard3Denvironment+'/blackboard.adminManager',
    data: params
  }).then(function(response){
    var params2 = new URLSearchParams();
    params2.append('token2', (response.data*randomNum)*2);
    params2.append('type',"updateTemplate");
    params2.append('UidPlantilla',$("#BlackboardModal_UidPlantilla_Template")[0].value);
    params2.append('IdPlantilla',$("#BlackboardModal_IdPlantilla_Template")[0].value);
    params2.append('NombrePlantilla',$("#BlackboardModal_NombrePlantilla_Template")[0].value);
    params2.append('TexturePlaneCampo', $("#BlackboardModal_TexturePlaneCampo_Template")[0].value);
    params2.append('TextureWidth', $("#BlackboardModal_TextureWidth_Template")[0].value);
    params2.append('TextureHeight', $("#BlackboardModal_TextureHeight_Template")[0].value);
    params2.append('ItemsAsociados', $("#BlackboardModal_ItemsAsociados_Template")[0].value);
    params2.append('IdSubPlantilla', $("#BlackboardModal_IdSubPlantilla_Template")[0].value);
    params2.append('IdDeporteAsociado', $("#BlackboardModal_IdDeporteAsociado_Template")[0].value);
    params2.append('scale3D_x', $("#BlackboardModal_scale3D_x_Template")[0].value);
    params2.append('scale3D_y', $("#BlackboardModal_scale3D_y_Template")[0].value);
    params2.append('scale3D_z', $("#BlackboardModal_scale3D_z_Template")[0].value);
    params2.append('position3D_x', $("#BlackboardModal_position3D_x_Template")[0].value);
    params2.append('position3D_y', $("#BlackboardModal_position3D_y_Template")[0].value);
    params2.append('position3D_z', $("#BlackboardModal_position3D_z_Template")[0].value);
    params2.append('Color_FondoPlano', $("#BlackboardModal_Color_FondoPlano_Template")[0].value);
    params2.append('Activo', $("#BlackboardModal_Activo_Template")[0].value);



    axios({
      method: 'post',
      url: 'https://'+blackboard3Denvironment+'/blackboard.adminManager',
      data: params2
    }).then(function(response){
  console.log("COMPLETADO CON EXITO");
  console.log(response);
  listAvalTemplates();
  updateModalTemplates();
    });
  });

}

function checkIniDeportes(){
  if (document.getElementById("BlackBoard_tablas_Deportes")) {
    if (document.getElementById("BlackBoard_tablas_Deportes").style.display=="none") {
      listAvalSports();
      setTimeout(function(){
      checkIniDeportes();
     }, 10);
   }else{
     console.log("TERMINADO");
   }

  }
}
function checkIniPlantillas(){
  if (document.getElementById("BlackBoard_tablas_Plantillas")) {
    if (document.getElementById("BlackBoard_tablas_Plantillas").style.display=="none") {
      listAvalTemplates();
      setTimeout(function(){
      checkIniPlantillas();
     }, 10);
   }else{
     console.log("TERMINADO");
   }
  }
}
setTimeout(function(){
checkIniPlantillas();
}, 10);


function listAvalUtils(UidItem){

  document.getElementById("BlackBoard_tablas_Deportes").style.display="none";
  document.getElementById("BlackBoard_tablas_Plantillas").style.display="none";
  document.getElementById("BlackBoard_tablas_Utensilios").style.display="block";

  $("#navDeportes").removeClass("btn-outline bg-dark text-light");
  $("#navPlantillas").removeClass("btn-outline bg-dark text-light");

  $("#navUtensilios").addClass("text-dark");
  $("#navDeportes").addClass("text-dark");




  $("#navUtensilios").addClass("btn-outline bg-dark text-light");
  $("#navUtensilios").removeClass("text-dark");

  $("#navPlantillas").removeClass("btn-outline bg-dark");
  $("#navDeportes").removeClass("btn-outline bg-dark");

  $("#navDeportes").addClass("text-dark");
  $("#navPlantillas").addClass("text-dark");

  // $("#navDeportes").addClass("text-dark");

  // if (document.getElementById("BlackBoard_tablas_Deportes")) {
    axios.get('https://'+blackboard3Denvironment+'/blackboard.adminManager?token='+randomNum).then(function(response){
      var query;
      if (UidItem!=undefined) {
          query='https://'+blackboard3Denvironment+'/blackboard.adminManager?token2='+(response.data*randomNum)*2+'&type=listAvalUtils&UidItem='+UidItem;
      }else{
        query='https://'+blackboard3Denvironment+'/blackboard.adminManager?token2='+(response.data*randomNum)*2+'&type=listAvalUtils';
      }
    axios.get(query).then(function(response){
    if (response.data.length==0) {
    console.log("NO HAY DATOS RECIVIDOS listAvalUtils");
    }else{
      console.log(response);
  document.getElementById("BlackBoard_tablas_Utensilios").innerHTML="";
  for(var i=0;i<response.data.length;i++){
    // response.data[i].UidDeporte;
    var buttonStyle;
    var buttonText;
    if (response.data[i].Activo=="S") {
      buttonStyle="green";
      buttonText="Activado";
    }else{
      buttonStyle="red";
      buttonText="Desactivado";

    }
  document.getElementById("BlackBoard_tablas_Utensilios").innerHTML+=`
  <div id="${response.data[i].UidItem}plantilla">
  <!-- hr-->
  <div class="card-head">
  <h3 class="card-tittle" style="text-align:center;">${response.data[i].NombreItem} <span class="badge badge-secondary">Utensilio</span></h3>
  </div>
  <div class="container-fluid row">

  <div class="col-2">
  <div class="infoPlantillas_Blackboard" >

  <div class="card" >

  <img class="imgDeporte_Blackboard card-img" src="${response.data[i].Img}">

  </div>
  </div>
  </div>
  <div class="col-sm">
  <div class="card">
  <div class="card-body">
  <p class="card-text">
  <ul class="list-group">
    <li class="list-group-item"><b>UID</b>:${response.data[i].UidItem}</li>
    <li class="list-group-item"><b>NombreItem</b>:${response.data[i].NombreItem}</li>
    <li class="list-group-item"><b>NombreCat</b>:${response.data[i].NombreCat}</li>
    <li class="list-group-item"><b>Value</b>:${response.data[i].Value}</li>
    <li class="list-group-item"><b>spanFunction</b>:${response.data[i].spanFunction}</li>
    <li class="list-group-item"><b>IdDeporteAsociado</b>:${response.data[i].IdDeporteAsociado}
    <a onclick="searchParamsPlant(${response.data[i].IdDeporteAsociado});"class="btn btn-secondary" style="color:white;">Ver Deporte</a>
    </li>
    <!-- li class="list-group-item"><a onclick="searchParamsPlant(${response.data[i].IdDeporteAsociado});"class="btn btn-secondary" style="color:white;">Ver Plantillas con este utensilio </a>
    </li -- >

  <li class="list-group-item"><b>Activo</b>:${response.data[i].Activo}</li>

  </ul>

  <!-- a class="btn btn-secondary" style="color:white;">Deporte Asociado</a>
  <a class="btn btn-secondary" style="color:white;">Plantilla Secundaria</a -->
  </p>
  </div>
  </div>
  <br>
  <div class="botonGroup_Blackboard" style="display:flex;">

  <a class="btn btn-primary"  href="#"     >
  Plantillas
  </a>
  <a style="color:white;" class="btn btn-secondary"  onClick="updateModalUtils(${response.data[i].UidItem});"  data-target="#modal_Blackboard_EditUtensilio" data-toggle="modal" >
  Editar
  </a>
  <div class="dropdown show">
  <a id="${response.data[i].UidItem}IDActButton" style="background:${buttonStyle};color:white;"class="btn btn-secondary dropdown-toggle " role="button"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
${buttonText}
  </a>
  <div class="dropdown-menu btn-success"  >
  <a  onclick="activateButton('activateButtonUtils','S',${response.data[i].UidItem})" class="dropdown-item " style="background-color:green;color:white;" >Activar</a>
  <a  onclick="activateButton('activateButtonUtils','N',${response.data[i].UidItem})" class="dropdown-item " style="background-color:red;color:white;" >Desactivar</a>
  </div>
  </div>
  <a style="color:white;" onclick="updateModalAreUsure('deleteUtils',' eliminar ${response.data[i].NombreItem}',${response.data[i].UidItem});" class="btn btn-secondary btn-danger"  data-target="#modal_Blackboard_AreUSure" data-toggle="modal">
  Eliminar
  </a>
  </div>

  </div>
  </div>

  </div>
  <hr>
  `;


  }








    }
    });
    });
  // }

}





function updateModalUtils(UidItem=undefined){
  if (document.getElementById("BlackBoard_tablas_Utensilios")) {
    axios.get('https://'+blackboard3Denvironment+'/blackboard.adminManager?token='+randomNum).then(function(response){
      var query;
      if (UidItem!=undefined) {
          query='https://'+blackboard3Denvironment+'/blackboard.adminManager?token2='+(response.data*randomNum)*2+'&type=listAvalUtils&UidItem='+UidItem;
      }else{
        query='https://'+blackboard3Denvironment+'/blackboard.adminManager?token2='+(response.data*randomNum)*2+'&type=listAvalUtils';
      }
    axios.get(query).then(function(response){
    if (response.data.length==0) {
    console.log("NO HAY DATOS RECIVIDOS");
    }else{
      // console.log(response);
      $("#BlackboardModal_UidItem_Util")[0].value=response.data[0].UidItem;
      $("#BlackboardModal_NombreItem_Util")[0].value=response.data[0].NombreItem;
      $("#BlackboardModal_NombreCat_Util")[0].value=response.data[0].NombreCat;
      $("#BlackboardModal_Value_Util")[0].value=response.data[0].Value;
      $("#BlackboardModal_Img_Util")[0].value=response.data[0].Img;
      $("#BlackboardModal_spanFunction_Util")[0].value=response.data[0].spanFunction;
      $("#BlackboardModal_IdDeporteAsociado_Util")[0].value=response.data[0].IdDeporteAsociado;
      $("#BlackboardModal_Activo_Util")[0].value=response.data[0].Activo;

    }
    });
    });
  }
}



function updateUtilBlackboard(){

  var params = new URLSearchParams();
  params.append('token', randomNum);

  axios({
    method: 'post',
    url: 'https://'+blackboard3Denvironment+'/blackboard.adminManager',
    data: params
  }).then(function(response){
    var params2 = new URLSearchParams();
    params2.append('token2', (response.data*randomNum)*2);
    params2.append('type',"updateUtil");
    params2.append('UidItem',$("#BlackboardModal_UidItem_Util")[0].value);
    params2.append('NombreItem',$("#BlackboardModal_NombreItem_Util")[0].value);
    params2.append('NombreCat',$("#BlackboardModal_NombreCat_Util")[0].value);
    params2.append('Value', $("#BlackboardModal_Value_Util")[0].value);
    params2.append('Img', $("#BlackboardModal_Img_Util")[0].value);
    params2.append('spanFunction', $("#BlackboardModal_spanFunction_Util")[0].value);
    params2.append('IdDeporteAsociado', $("#BlackboardModal_IdDeporteAsociado_Util")[0].value);
    params2.append('Activo', $("#BlackboardModal_Activo_Util")[0].value);
    axios({
      method: 'post',
      url: 'https://'+blackboard3Denvironment+'/blackboard.adminManager',
      data: params2
    }).then(function(response){
  console.log("COMPLETADO CON EXITO");
  console.log(response);
  listAvalUtils();
  updateModalUtils();
    });
  });

}

var filterby;
function filterButton(filterbyParam,type="ASC"){

}
   </script>

             <nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="#">Blackboard Admin</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
<li class="nav-item active">
 <a id="navDeportes" onclick="listAvalSports();"  class="btn btn-outline text-dark"  >Deportes </a>
</li>
<li class="nav-item">
 <a id="navPlantillas" onclick="listAvalTemplates();" class="btn btn-outline text-dark"  >Plantillas</a>
</li>
<li class="nav-item">
 <a id="navUtensilios" onclick="listAvalUtils();" class="btn btn-outline text-dark">Utensilios</a>
</li>
<li>

    <!-- Default dropright button -->
    <div class="btn-group dropright">
      <p id="CREAR" style="display:block !important;color:white;" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Crear
     </p>
      <div  class="dropdown-menu 3x">
        <h3 style="text-align:center;background:black;color:white;">Añadir Nuevo</h3>
        <p  style="width:100%;text-align:center;" class="dropdown-item btn-lg" type="button" data-toggle="modal" data-target="#modal_Blackboard_CreateNewSport"> Deporte</p>
        <div class="dropdown-divider"></div>
        <p  style="width:100%;text-align:center;" class="dropdown-item btn-lg" type="button" data-toggle="modal" data-target="#modal_Blackboard_CreateNewTemplate"> Plantilla</p>
        <div class="dropdown-divider"></div>
        <p  style="width:100%;text-align:center;" class="dropdown-item btn-lg" type="button" data-toggle="modal" data-target="#modal_Blackboard_CreateNewUtil"> Utensilio</p>
        <div class="dropdown-divider"></div>
      </div>
    </div>

</li>

</ul>

</div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-info" >


  <div class="collapse navbar-collapse" >
    <ul class="navbar-nav mr-auto" style="margin:auto;">
      <small >Ordenar por:</small>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Nombre
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item">Ascendiente</a>
          <a class="dropdown-item">Descendiente</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Fecha
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item">Ascendiente</a>
          <a class="dropdown-item">Descendiente</a>
        </div>
      </li>

      <div style="display:flex;">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar">
      <a class="btn btn-outline-success" type="submit">Buscar</a>
      </div>


    </ul>
  </div>
</nav>

<hr>
<div id="BlackBoard_tablas_Deportes" style="display:none;">
<!-- CONTENIDO DEPORTES AQIUI -->
</div>


<div id="BlackBoard_tablas_Plantillas" style="display:none;">


</div>



<div id="BlackBoard_tablas_Utensilios" style="display:none;">


</div>




<!-- MODALS -->
<div id="modal_Blackboard_EditDeporte" class="modal" tabindex="-1" role="dialog" >
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
 <h5 class="modal-title">Editar Deporte</h5>
 <a   class="close" data-dismiss="modal" aria-label="Close">
   <span aria-hidden="true">&times;</span>
 </a>
</div>
<div class="modal-body">

  <div class="form-group">
      <label >UidDeporte</label>
      <input disabled class="form-control" id="BlackboardModal_UidDeporte" >
      <small  class="form-text text-muted">Identificador único del deporte.</small>
    </div>
    <div class="form-group">
        <label >NombreDeporte</label>
        <input class="form-control" id="BlackboardModal_NombreDeporte"  placeholder="Introduzca el nombre del deporte">
        <small  class="form-text text-muted">Nombre del deporte.</small>
      </div>
      <div class="form-group">
          <label >IdDeporteAsociado</label>
          <input class="form-control" id="BlackboardModal_IdDeporteAsociado"  placeholder="Introduzca un numero ID para este deporte">
          <small  class="form-text text-muted">ID del deporte.</small>
        </div>
        <div class="form-group">
            <label >idPlantillaPred</label>
            <input class="form-control" id="BlackboardModal_idPlantillaPred"  placeholder="Plantilla Predeterminada">
            <small  class="form-text text-muted">Plantilla por defecto</small>
          </div>
        <div class="form-group">
            <label >Activo</label>
            <select id="BlackboardModal_Activo" class="custom-select mr-sm-2" >
              <option selected>¿Esta activado?</option>
              <option value="S">Activado</option>
              <option value="N">Desactivado</option>
            </select>
            <!-- <input class="form-control"   placeholder="S o N para activar o desactivar"> -->
            <small  class="form-text text-muted">¿Este deporte esta activado?</small>
          </div>
          <div class="form-group">
              <label >Imagen</label>
              <textarea id="BlackboardModal_ImgDeporte" class="form-control rounded-0"></textarea>
              <small  class="form-text text-muted">URL/SRC IMG</small>
            </div>


</div>
<div class="modal-footer">
 <a onclick="updateSportBlackboard();" data-dismiss="modal" class="btn btn-primary">Guardar</a>
 <a  class="btn btn-secondary" data-dismiss="modal">Cerrar</a>
</div>
</div>
</div>
</div>

<div id="modal_Blackboard_EditPlantilla" class="modal" tabindex="-1" role="dialog" >
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
 <h5 class="modal-title">Editar Plantilla</h5>
 <a    class="close" data-dismiss="modal" aria-label="Close">
   <span aria-hidden="true">&times;</span>
 </a>
</div>
<div class="modal-body">

    <div class="form-group">
        <label >UidPlantilla</label>
        <input disabled class="form-control" id="BlackboardModal_UidPlantilla_Template" >
        <small  class="form-text text-muted">Identificador único de la plantilla.</small>
      </div>
      <div class="form-group">
          <label >IdPlantilla*</label>
          <input class="form-control" id="BlackboardModal_IdPlantilla_Template" placeholder="Introduzca un numero ID para esta plantilla" >
          <small  class="form-text text-muted">ID de la plantilla</small>
        </div>

          <div class="form-group">
              <label >NombrePlantilla*</label>
              <input class="form-control" id="BlackboardModal_NombrePlantilla_Template" placeholder="Introduzca el nombre de la plantilla">
              <small  class="form-text text-muted">Nombre de la plantilla</small>
            </div>

            <div class="form-group">
                <label >TexturePlaneCampo*</label>
                <textarea id="BlackboardModal_TexturePlaneCampo_Template" class="form-control rounded-0"></textarea>
                <small  class="form-text text-muted">URL/SRC IMG - Textura de la plantilla</small>
              </div>
              <div class="form-group">
                  <label >TextureWidth</label>
                  <input class="form-control" id="BlackboardModal_TextureWidth_Template"  placeholder="Introduzca el Ancho/Largo/X en metros de la plantilla">
                  <small  class="form-text text-muted">Alto/Ancho Real en Metros para la plantilla</small>
              </div>
              <div class="form-group">
                  <label >TextureHeight</label>
                  <input class="form-control" id="BlackboardModal_TextureHeight_Template"  placeholder="Introduzca el Alto/Z en metros de la plantilla">
                  <small  class="form-text text-muted">Alto/Ancho Real en Metros para la plantilla</small>
              </div>
              <div class="form-group">
                  <label >ItemsAsociados</label>
                  <textarea id="BlackboardModal_ItemsAsociados_Template" class="form-control rounded-0"></textarea>
                  <small  class="form-text text-muted">Objetos y su configuración, asociadas a la plantilla</small>
                </div>
                <div class="form-group">
                    <label >position3D_x</label>
                    <textarea id="BlackboardModal_position3D_x_Template" class="form-control rounded-0"></textarea>
                    <small  class="form-text text-muted">Posición X del escenario 3D</small>
                  </div>
                  <div class="form-group">
                      <label >position3D_y</label>
                      <textarea id="BlackboardModal_position3D_y_Template" class="form-control rounded-0"></textarea>
                      <small  class="form-text text-muted">Posición y del escenario 3D</small>
                    </div>
                    <div class="form-group">
                        <label >position3D_z</label>
                        <textarea id="BlackboardModal_position3D_z_Template" class="form-control rounded-0"></textarea>
                        <small  class="form-text text-muted">Posición z del escenario 3D</small>
                      </div>
                      <div class="form-group">
                          <label >scale3D_x</label>
                          <textarea id="BlackboardModal_scale3D_x_Template" class="form-control rounded-0"></textarea>
                          <small  class="form-text text-muted">escala X del escenario 3D</small>
                        </div>
                        <div class="form-group">
                            <label >scale3D_y</label>
                            <textarea id="BlackboardModal_scale3D_y_Template" class="form-control rounded-0"></textarea>
                            <small  class="form-text text-muted">escala y del escenario 3D</small>
                          </div>
                          <div class="form-group">
                              <label >scale3D_z</label>
                              <textarea id="BlackboardModal_scale3D_z_Template" class="form-control rounded-0"></textarea>
                              <small  class="form-text text-muted">escala z del escenario 3D</small>
                            </div>
                            <div class="form-group">
                                <label >Color_FondoPlano</label>
                                <input type="text" id="BlackboardModal_Color_FondoPlano_Template" value="#ff0000">
                            <!-- color -->
                            </div>
                <div class="form-group">
                    <label >IdSubPlantilla</label>
                    <input class="form-control" id="BlackboardModal_IdSubPlantilla_Template"  placeholder="ID de la plantilla asociada" >
                    <small  class="form-text text-muted">ID de la plantilla asociada o subplantilla, en caso necesario</small>
                  </div>
                <div class="form-group">
                    <label >IdDeporteAsociado</label>
                    <input class="form-control" id="BlackboardModal_IdDeporteAsociado_Template"  placeholder="Introduzca el Deporte Asociado">
                    <small  class="form-text text-muted">Introduza el ID del deporte asociado a la plantilla</small>
                </div>
                <div class="form-group">
                    <label >Activo</label>
                    <select id="BlackboardModal_Activo_Template" class="custom-select mr-sm-2" >
                      <option selected>¿Esta activado?</option>
                      <option value="S">Activado</option>
                      <option value="N">Desactivado</option>
                    </select>
                    <!-- <input class="form-control"   placeholder="S o N para activar o desactivar"> -->
                    <small  class="form-text text-muted">¿Esta Plantilla esta activada?</small>
                  </div>

</div>
<div class="modal-footer">
 <a onclick="updateTemplateBlackboard();" data-dismiss="modal" class="btn btn-primary">Guardar</a>
 <a  class="btn btn-secondary" data-dismiss="modal">Cerrar</a>
</div>
</div>
</div>
</div>

<div id="modal_Blackboard_EditUtensilio" class="modal" tabindex="-1" role="dialog" >
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
 <h5 class="modal-title">Editar Utensilio</h5>
 <a    class="close" data-dismiss="modal" aria-label="Close">
   <span aria-hidden="true">&times;</span>
 </a>
</div>
<div class="modal-body">

    <div class="form-group">
        <label >UidItem</label>
        <input disabled class="form-control" id="BlackboardModal_UidItem_Util" >
        <small  class="form-text text-muted">Identificador único del utensilio.</small>
      </div>
      <div class="form-group">
          <label >NombreItem*</label>
          <input class="form-control" id="BlackboardModal_NombreItem_Util" placeholder="Introduzca un nombre para el utensilio" >
          <small  class="form-text text-muted">Nombre del utensilio</small>
        </div>

          <div class="form-group">
              <label >NombreCat*</label>
              <input class="form-control" id="BlackboardModal_NombreCat_Util" placeholder="Introduzca la categoria del utensilio">
              <small  class="form-text text-muted">Categoria del utensilio</small>
            </div>

            <div class="form-group">
                <label >Value*</label>
                <input class="form-control" id="BlackboardModal_Value_Util" placeholder="Value del Utensilio">
                <small  class="form-text text-muted">Value del utensilio</small>
              </div>

            <div class="form-group">
                <label >Img*</label>
                <textarea id="BlackboardModal_Img_Util" class="form-control rounded-0"></textarea>
                <small  class="form-text text-muted">URL/SRC IMG - Imagen del utensilio</small>
              </div>

              <div class="form-group">
                  <label >spanFunction*</label>
                  <textarea id="BlackboardModal_spanFunction_Util" class="form-control rounded-0"></textarea>
                  <small  class="form-text text-muted">Funcion de este utensilio</small>
                </div>
              <div class="form-group">
                  <label >IdDeporteAsociado</label>
                  <input class="form-control" id="BlackboardModal_IdDeporteAsociado_Util"  placeholder="Deporte asociado al utensilio">
                  <small  class="form-text text-muted">Id del deporte asociado</small>
              </div>

                <div class="form-group">
                    <label >Activo</label>
                    <select id="BlackboardModal_Activo_Template" class="custom-select mr-sm-2" >
                      <option selected>¿Esta activado?</option>
                      <option value="S">Activado</option>
                      <option value="N">Desactivado</option>
                    </select>
                    <!-- <input class="form-control"   placeholder="S o N para activar o desactivar"> -->
                    <small  class="form-text text-muted">¿Esta este Utensilio activado?</small>
                  </div>

</div>
<div class="modal-footer">
 <a onclick="updateUtilBlackboard();" data-dismiss="modal" class="btn btn-primary">Guardar</a>
 <a  class="btn btn-secondary" data-dismiss="modal">Cerrar</a>
</div>
</div>
</div>
</div>

<div id="modal_Blackboard_AreUSure" class="modal" tabindex="-1" role="dialog" >
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
 <h2 class="modal-title">¿Está Seguro de <b id="accion_AreUSure">realizar esta acción</b>?</h3>
 <a     class="close" data-dismiss="modal" aria-label="Close">
   <span aria-hidden="true">&times;</span>
 </a>
</div>
<div class="modal-body bg-danger">
 <p>Esta acción es irreversible. Seguro que desea <b id="accion_AreUSure2">realizar esta acción</b></p>
 <div class="container-fluid">
  <a id="AreUSureButton"  data-dismiss="modal"  class="btn btn-primary">Sí,<b id="accion_AreUSure3">realizar esta acción</b></a>
  <a   class="btn btn-secondary" data-dismiss="modal">No, Cerrar</a>
 </div>
</div>

</div>
</div>
</div>

<div id="modal_Blackboard_CreateNewSport" class="modal" tabindex="-1" role="dialog" >
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
 <h2 class="modal-title">Crear Nuevo <b>Deporte</b></h3>
 <a     class="close" data-dismiss="modal" aria-label="Close">
   <span aria-hidden="true">&times;</span>
 </a>
</div>
<div class="modal-body bg-light">


      <div class="form-group">
          <label>Nombre Deporte</label>
          <input class="form-control" id="BlackboardModal_NombreDeporte_New"  placeholder="Introduzca el nombre del deporte">
          <small  class="form-text text-muted">Nombre del deporte.</small>
        </div>
        <div class="form-group">
            <label>IdDeporteAsociado*</label>
            <input class="form-control" id="BlackboardModal_IdDeporteAsociado_New"  placeholder="Introduzca un numero ID para este deporte">
            <small  class="form-text text-muted">ID del deporte.</small>
          </div>
          <div class="form-group">
              <label >idPlantillaPred*</label>
              <input class="form-control" id="BlackboardModal_idPlantillaPred_New"  placeholder="Plantilla Predeterminada">
              <small  class="form-text text-muted">Plantilla por defecto</small>
            </div>
          <div class="form-group">
            <label >Activo</label>
  <select id="BlackboardModal_Activo_New"  class="custom-select mr-sm-2" >
    <option selected>¿Esta activado?</option>
    <option value="S">Activado</option>
    <option value="N">Desactivado</option>
  </select>
              <small  class="form-text text-muted">¿Este deporte esta activado?</small>
            </div>
            <div class="form-group">
                <label >IMG</label>
                <textarea id="BlackboardModal_ImgDeporte_New" class="form-control rounded-0"></textarea>
                <small  class="form-text text-muted">URL/SRC IMG</small>
            </div>
            <div class="modal-footer">
             <a onclick="createNew('createNewSport');" data-dismiss="modal" class="btn btn-primary">Crear Nuevo Deporte</a>
             <a  class="btn btn-secondary" data-dismiss="modal">Cerrar</a>
            </div>
</div>

</div>
</div>
</div>

<div id="modal_Blackboard_CreateNewTemplate" class="modal" tabindex="-1" role="dialog" >
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
 <h2 class="modal-title">Crear Nueva <b>Plantilla</b></h3>
 <a     class="close" data-dismiss="modal" aria-label="Close">
   <span aria-hidden="true">&times;</span>
 </a>
</div>
<div class="modal-body bg-light">

    <div class="form-group">
        <label >IdPlantilla*</label>
        <input class="form-control" id="BlackboardModal_IdPlantilla_Template_NEW" placeholder="Introduzca un numero ID para esta plantilla" >
        <small  class="form-text text-muted">ID de la plantilla</small>
      </div>

        <div class="form-group">
            <label >NombrePlantilla*</label>
            <input class="form-control" id="BlackboardModal_NombrePlantilla_Template_NEW" placeholder="Introduzca el nombre de la plantilla">
            <small  class="form-text text-muted">Nombre de la plantilla</small>
          </div>

          <div class="form-group">
              <label >TexturePlaneCampo*</label>
              <textarea id="BlackboardModal_TexturePlaneCampo_Template_NEW" class="form-control rounded-0"></textarea>
              <small  class="form-text text-muted">URL/SRC IMG - Textura de la plantilla</small>
            </div>
            <div class="form-group">
                <label >TextureWidth</label>
                <input class="form-control" id="BlackboardModal_TextureWidth_Template_NEW"  placeholder="Introduzca el Ancho/Largo/X en metros de la plantilla">
                <small  class="form-text text-muted">Alto/Ancho Real en Metros para la plantilla</small>
            </div>
            <div class="form-group">
                <label >TextureHeight</label>
                <input class="form-control" id="BlackboardModal_TextureHeight_Template_NEW"  placeholder="Introduzca el Alto/Z en metros de la plantilla">
                <small  class="form-text text-muted">Alto/Ancho Real en Metros para la plantilla</small>
            </div>
            <div class="form-group">
                <label >ItemsAsociados</label>
                <textarea id="BlackboardModal_ItemsAsociados_Template_NEW" class="form-control rounded-0"></textarea>
                <small  class="form-text text-muted">Objetos y su configuración, asociadas a la plantilla</small>
              </div>
              <div class="form-group">
                  <label >position3D_x</label>
                  <textarea id="BlackboardModal_position3D_x_Template_NEW" class="form-control rounded-0"></textarea>
                  <small  class="form-text text-muted">Posición X del escenario 3D</small>
                </div>
                <div class="form-group">
                    <label >position3D_y</label>
                    <textarea id="BlackboardModal_position3D_y_Template_NEW" class="form-control rounded-0"></textarea>
                    <small  class="form-text text-muted">Posición y del escenario 3D</small>
                  </div>
                  <div class="form-group">
                      <label >position3D_z</label>
                      <textarea id="BlackboardModal_position3D_z_Template_NEW" class="form-control rounded-0"></textarea>
                      <small  class="form-text text-muted">Posición z del escenario 3D</small>
                    </div>
                    <div class="form-group">
                        <label >scale3D_x</label>
                        <textarea id="BlackboardModal_scale3D_x_Template_NEW" class="form-control rounded-0"></textarea>
                        <small  class="form-text text-muted">escala X del escenario 3D</small>
                      </div>
                      <div class="form-group">
                          <label >scale3D_y</label>
                          <textarea id="BlackboardModal_scale3D_y_Template_NEW" class="form-control rounded-0"></textarea>
                          <small  class="form-text text-muted">escala y del escenario 3D</small>
                        </div>
                        <div class="form-group">
                            <label >scale3D_z</label>
                            <textarea id="BlackboardModal_scale3D_z_Template_NEW" class="form-control rounded-0"></textarea>
                            <small  class="form-text text-muted">escala z del escenario 3D</small>
                          </div>
                          <div class="form-group">
                              <label >Color_FondoPlano</label>
                              <input type="text" id="BlackboardModal_Color_FondoPlano_Template_MEW" value="#ff0000">
                            </div>
              <div class="form-group">
                  <label >IdSubPlantilla</label>
                  <input class="form-control" id="BlackboardModal_IdSubPlantilla_Template_NEW"  placeholder="ID de la plantilla asociada" >
                  <small  class="form-text text-muted">ID de la plantilla asociada o subplantilla, en caso necesario</small>
                </div>
              <div class="form-group">
                  <label >IdDeporteAsociado</label>
                  <input class="form-control" id="BlackboardModal_IdDeporteAsociado_Template_NEW"  placeholder="Introduzca el Deporte Asociado">
                  <small  class="form-text text-muted">Introduza el ID del deporte asociado a la plantilla</small>
              </div>
              <div class="form-group">
                  <label >Activo</label>
                  <select id="BlackboardModal_Activo_Template_NEW" class="custom-select mr-sm-2" >
                    <option selected>¿Esta activado?</option>
                    <option value="S">Activado</option>
                    <option value="N">Desactivado</option>
                  </select>
                  <!-- <input class="form-control"   placeholder="S o N para activar o desactivar"> -->
                  <small  class="form-text text-muted">¿Esta Plantilla esta activada?</small>
                </div>

            <div class="modal-footer">
             <a onclick="createNew('createNewTemplate');" data-dismiss="modal" class="btn btn-primary">Crear Nueva Plantilla</a>
             <a  class="btn btn-secondary" data-dismiss="modal">Cerrar</a>
            </div>
</div>

</div>
</div>
</div>

<div id="modal_Blackboard_CreateNewUtil" class="modal" tabindex="-1" role="dialog" >
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
 <h2 class="modal-title">Crear Nuevo <b>Utensilio</b></h3>
 <a     class="close" data-dismiss="modal" aria-label="Close">
   <span aria-hidden="true">&times;</span>
 </a>
</div>
<div class="modal-body bg-light">

    <!-- div class="form-group">
        <label >UidItem</label>
        <input disabled class="form-control" id="BlackboardModal_UidItem_Util" >
        <small  class="form-text text-muted">Identificador único del utensilio.</small>
      </div-->
      <div class="form-group">
          <label>NombreItem*</label>
          <input class="form-control" id="BlackboardModal_NombreItem_Util_NEW" placeholder="Introduzca un nombre para el utensilio" >
          <small  class="form-text text-muted">Nombre del utensilio</small>
        </div>

          <div class="form-group">
              <label >NombreCat*</label>
              <input class="form-control" id="BlackboardModal_NombreCat_Util_NEW" placeholder="Introduzca la categoria del utensilio">
              <small  class="form-text text-muted">Categoria del utensilio</small>
            </div>

            <div class="form-group">
                <label >Value*</label>
                <input class="form-control" id="BlackboardModal_Value_Util_NEW" placeholder="Value del Utensilio">
                <small  class="form-text text-muted">Value del utensilio</small>
              </div>

            <div class="form-group">
                <label >Img*</label>
                <textarea id="BlackboardModal_Img_Util_NEW" class="form-control rounded-0"></textarea>
                <small  class="form-text text-muted">URL/SRC IMG - Imagen del utensilio</small>
              </div>

              <div class="form-group">
                  <label >spanFunction*</label>
                  <textarea id="BlackboardModal_spanFunction_Util_NEW" class="form-control rounded-0"></textarea>
                  <small  class="form-text text-muted">Funcion de este utensilio</small>
                </div>
              <div class="form-group">
                  <label >IdDeporteAsociado</label>
                  <input class="form-control" id="BlackboardModal_IdDeporteAsociado_Util_NEW"  placeholder="Deporte asociado al utensilio">
                  <small  class="form-text text-muted">Id del deporte asociado</small>
              </div>

                <div class="form-group">
                    <label >Activo</label>
                    <select id="BlackboardModal_Activo_Template_NEW" class="custom-select mr-sm-2" >
                      <option selected>¿Esta activado?</option>
                      <option value="S">Activado</option>
                      <option value="N">Desactivado</option>
                    </select>
                    <!-- <input class="form-control"   placeholder="S o N para activar o desactivar"> -->
                    <small  class="form-text text-muted">¿Esta este Utensilio activado?</small>
                  </div>

</div>

</div>
</div>
</div>


<div style="display:none;" class="container-fluid" style="padding:1em;">

<nav aria-label="Page navigation example">
<ul class="pagination mx-auto" style="width: fit-content;">
<li class="page-item"><a class="page-link" href="#">Previous</a></li>
<li class="page-item"><a class="page-link" href="#">1</a></li>
<li class="page-item"><a class="page-link" href="#">2</a></li>
<li class="page-item"><a class="page-link" href="#">3</a></li>
<li class="page-item"><a class="page-link" href="#">Next</a></li>
</ul>
</nav>

</div>


<style>
 #CrearDiv_Blackboard,#CrearDiv_Blackboard1,#CrearDiv_Blackboard2,#CrearDiv_Blackboard3{
  display: block !important;
}
.infoPlantillas_Blackboard .card {
    background: #000000a6;
}
.imgDeporte_Blackboard{
 max-width:100%;}
#panel_principal_Datos{display:none;}
.botonGroup_Blackboard a{
 border-radius:0;
}
.modal-footer a{
 color:white !important;
}
</style>
</body>
</html>
