<body>
<div id="blackboardpage">
  <option id="blackboard3Denvironment">bmdevel.1d3a.com</option>
    <!-- option id="blackboard3D_UIDURL">v3x3tbtndf2hwxv5l74447t8zwynqy</option -->
<!-- <option id="logoCliente_src_blackboard3D">https://assets.laliga.com/assets/logos/laliga-h/laliga-h-300x300.png</option> -->
<option id="blackboard3D_Template">local</option>
<!-- <option id="blackboard3D_ViewMode">false</option> -->
<!-- <option id="blackboard3D_AutoSave">true</option> -->
<script src="/imgfiles/blackboard3D/blackboard3D.js"></script>



</div>
