<div  class="container-fluid marpadInterfaz topInterfaz2" style="display:block;position:absolute;top:0;">
  <div id="containerTOP" class="row justify-content-md-center marpadInterfaz">
    <div class="col-md-auto marpadInterfaz" id="controls4CamMoveContainer" onmouseover="blockraycastBlackboard=1;" onmouseout="blockraycastBlackboard=0;">
      <div  id="container-editmode2" class="row marpadInterfaz" >
        <div id="editmodeName" class="col marpadInterfaz">
        <a onclick='hidebuttonArea("normal");'  class="btn btn-primary   container-fluid btnTopAttached" data-dismiss="modal" data-target="#texto2d" data-toggle="modal">
          <i class="fas fa-file-signature"></i><br>
          <span class="nav-label">Nombrar </span>
        </a>
        </div>
        <div id="editmodeAreaName2" class="col marpadInterfaz">
        <a   onclick='hidebuttonArea("horizontal");' class="btn btn-primary   container-fluid btnTopAttached" data-dismiss="modal"data-target="#texto2d" data-toggle="modal">
          <i class="fas fa-file-signature"></i><br>
          <span class="nav-label">Horizontal</span>
        </a>
        </div>
        <div id="editmodeAreaName1" class="col marpadInterfaz">
        <a   onclick='hidebuttonArea("vertical");' class="btn btn-primary   container-fluid btnTopAttached" data-dismiss="modal" data-target="#texto2d" data-toggle="modal">
          <i class="fas fa-file-signature"></i><br>
          <span class="nav-label">Vertical</span>
        </a>
        </div>
        <div id="editmodeSize" class="col marpadInterfaz">
          <a class="btn btn-primary   container-fluid btnTopAttached" onclick="editarObjetoScale();">
            <i class="fas fa-expand-alt"></i><br>
            <span class="nav-label">Tamaño</span>
          </a>
        </div>
    <div id="editmodeRotate" class="col marpadInterfaz">
    <a class="btn btn-primary   container-fluid btnTopAttached" onclick="editarObjetoRotate();">
      <i class="fas fa-sync-alt"></i><br>
      <span class="nav-label">Rotar </span>
    </a>
  </div>
  <div id="editmodeColor" class="col marpadInterfaz">
    <a id="containerColorInput4" class="btn btn-primary   container-fluid btnTopAttached">
      <input style="display:none;" id="controls4modeColorPicker" oninput="clickInputColor4();" class="btnColor" type="color" name="color2" value="#3355cc">
      <i class="fas fa-fill-drip"></i><br>
      <span class="nav-label">Color 1</span>
    </a>
  </div>
  <div id="editmodeColor22" class="col marpadInterfaz">
    <a  id="containerColorInput42" class="btn btn-primary   container-fluid btnTopAttached" >
      <input style="display:none;"  id="controls4modeColorPicker22" oninput="clickInputColor4(true);" class="btnColor" type="color" name="color2" value="#3355cc">
      <i class="fas fa-fill-drip"></i><br>
      <span class="nav-label">Color 2</span>
    </a>
  </div>
    <div id="editmodePicture" class="col marpadInterfaz">
    <a class="btn btn-primary   container-fluid btnTopAttached" onclick="clickInputImage4()">
      <input style="display:none;" id="profileTxtObjInput" type="file" class="form-control-file btnSlider">
      <i class="fas fa-portrait"></i><br>
      <span class="nav-label">Imagen</span>
    </a>
  </div>
        <a  class="btn btn-primary   container-fluid btnTopAttached" style="display:none;"data-toggle="collapse" href="#controls4editmodecontainer" >
           <i class="fas fa-edit"></i><br>
          <span class="nav-label">Otras Opciones</span>
        </a>
        <div class="col marpadInterfaz">
        <a  id="controls3ModeDelete"  class="btn btn-danger   container-fluid btnTopAttached">
          <i class="fas fa-trash-alt"></i><br>
          <span class="nav-label">Borrar </span>
        </a>
      </div>
    </div>
  </div>

  <div id="controls4ContainerBarDIV"> </div>
  <div id="ObjectCreated1" class="container-fluid">
    <p class="mb-0">
      <button id="stopcreate"  type="button" class="btn-danger" data-toggle="tooltip" data-placement="bottom"data-html="true" trigger="hover" title="<em>Deja de posicionar objetos</em>">
  <h3 onClick="stopcreate();"><i class="fab fa-font-awesome-flag"></i>  FIN</h3>
  </button>
  <button id="changeColorDiv1" onclick="changedivColor(true);" type="button" class="btn-danger btnChangeColor" data-toggle="tooltip" data-placement="bottom" data-html="true" trigger="hover" title="" data-original-title="<em>Color del objeto</em>">
      <h3><i class="fas fa-palette"></i>COLOR</h3>
      </button>
      <button id="changeColorDiv2" onclick="changedivColor(true,true);" type="button" class="btnChangeColor" data-toggle="tooltip" data-placement="bottom" data-html="true" trigger="hover" title="" data-original-title="<em>Color Secundario del objeto</em>">
          <h3><i class="fas fa-palette"></i>COLOR 2</h3>
      </button>
      <button id="changeRotationDiv" onclick="hidetopRotation();" type="button" class="btn-primary" data-toggle="tooltip" data-placement="bottom" data-html="true" trigger="hover" title="" data-original-title="<em>Propiedad por defecto en la rotación</em>">
          <h3><i class="fas fa-sync-alt"></i>ROTAR</h3>
      </button>
         <input style="display:none;" id="colorInput1" onchange="changedivColor();" type="color" value="#da1a2e" />
      <input style="display:none;" id="colorInput2" onchange="changedivColor(false,true);" type="color" value="#da1a2e" />
  </p>
  </div>

  <!--DRAW TEMA -->
  <div id="DrawCreated1" class="container-fluid">
    <p class="mb-0" >
      <button id="stopcreate2" onclick="finishDrawLine(1);stopcreate();" type="button" class="btn-danger" data-toggle="tooltip" data-placement="bottom" data-html="true" trigger="hover" title="" data-original-title="<em>Deja de dibujar en el campo</em>">
  <h3 ><i class="fab fa-font-awesome-flag"></i>  TERMINAR</h3>
  </button>

  <button id="changeColorDrawDiv" onclick="cambioColorDraw();" class="btnChangeColor" type="button" class="btn-danger"  data-toggle="tooltip" data-placement="bottom" data-html="true" trigger="hover" title="" data-original-title="<em>Deja de dibujar en el campo</em>">
    <h3><i class="fas fa-palette"></i>COLOR</h3>
    </button>
    <input style="display:none;" id="drawColorInput1" onchange="cambioColorDraw('true');" type="color" value="#da1a2e" />
  </p>
  </div>
  <!-- FIN DRAW TEMA -->


  <!--Tamaño TEMA -->
  <div id="SizeChange1" class="container-fluid">
  <div class="container-fluid bg-primary">
  <div class="col" style="min-width: 200px;">
    <div class="row">
      <div class="col" >
        <i class="fas fa-2x fa-search-minus"></i>
      </div>
      <div id="infoScaleDiv" class="col">
  1
      </div>
      <div class="col" id="infoScaleDiv2">
       <i class="fas fa-2x fa-search-plus"></i>
      </div>
    </div>
    <div class="row">
      <input id="inputSizeChange1"  oninput="scaleInputChange()" type="range" class="form-control-range form-control custom-range" />
    </div>
  </div>
  <div class="col">
  <button onclick="resetscaleInputChange();hidetooltip();" type="button" class="btn-danger" data-toggle="tooltip" data-placement="bottom" data-html="true" trigger="hover" title="" data-original-title="<em>Dejar el tamaño por defecto del objeto</em>">
    <h3><i class="fas fa-trash-restore-alt"></i>RESET</h3>
    </button>
  </div>
  <div class="col" style="padding:0;display:block;">
  <button onclick="hideModification();hidetooltip();" type="button" class="btn-danger" data-toggle="tooltip" data-placement="bottom" data-html="true" trigger="hover" title="" data-original-title="<em>Cerrar menu de Tamaño</em>">
    <h3><i class="far fa-times-circle"></i> </h3>
    </button>
  </div>
  </div>
  </div>
  <!-- FIN Tamaño TEMA -->


  <!-- ROTACION TEMA -->
  <div id="RotateChange1" class="container-fluid">
  <div class="container-fluid bg-primary">
  <div class="col" style="min-width:200px;">
    <!-- <div class="col conainer-fluid"> -->
      <div class="row">
        <div class="col" style="text-align: left;padding: 0.5em;">
          <i class="fas fa-2x fa-undo"></i>
        </div>
        <div class="col"  style="text-align: center;padding: 0.5em;">

        </div>
        <div class="col"  style="text-align: right;padding: 0.5em;">
        <i class="fas fa-2x fa-redo"></i>
        </div>
      </div>
      <div class="row">
        <input style="transform: rotate(180deg);" oninput="editarObjetoRotate();" id="inputRotateChange1" max="3.14" min="-3.14" step="0.01"  type="range" class="form-control-range form-control custom-range" />
      </div>
    <!-- </div> -->

  </div>
  <div class="col">
  <button onclick="controls4rotatemode(0,true);hidetooltip();" type="button" class="btn-primary" data-toggle="tooltip" data-placement="bottom" data-html="true" trigger="hover" title="" data-original-title="<em>Dejar la rotación por defecto 0º</em>">
    <h3><i class="fas fa-arrow-right"></i><br> 0º</h3>
    </button>
  </div>
  <div class="col">
  <button onclick="controls4rotatemode(1.57,true);hidetooltip();"type="button" class="btn-primary" data-toggle="tooltip" data-placement="bottom" data-html="true" trigger="hover" title="" data-original-title="<em>Rotar 90º el objeto</em>">
    <h3><i class="fas fa-arrow-up"></i> <br>90º</h3>
    </button>
  </div>

  <div class="col">
  <button onclick="controls4rotatemode(3.14,true);hidetooltip();" type="button" class="btn-primary" data-toggle="tooltip" data-placement="bottom" data-html="true" trigger="hover" title="" data-original-title="<em>Rotar 180º el objeto</em>">
    <h3><i class="fas fa-arrow-left"></i> <br>180º</h3>
    </button>
  </div>
  <div class="col">
  <button onclick="controls4rotatemode(-1.57,true);hidetooltip();"type="button" class="btn-primary"  data-toggle="tooltip" data-placement="bottom" data-html="true" trigger="hover" title="" data-original-title="<em>Rotar 270º el objeto</em>">
    <h3><i class="fas fa-arrow-down"></i> <br>270º</h3>
    </button>
  </div>

  <div class="col">
  <button onclick="hideModification();hidetooltip();" type="button" class="btn-danger" data-toggle="tooltip" data-placement="bottom" data-html="true" trigger="hover" title="" data-original-title="<em>Cerrar menu de rotación</em>">
    <h3><i class="far fa-times-circle"></i> </h3>
    </button>
  </div>
  </div>
  </div>
  <!-- FIN ROTACION TEMA -->
</div>
</div>
