<div id="blackboardpage" style="max-width:545px;max-height:500px;">
  <option id="blackboard3Denvironment">bmtest.1d3a.com</option>
  <option id="blackboard3D_UIDURL">9coeiofw9d5qjoj018xqawsoc9k482AA</option>
  <option id="blackboard3D_Method">create</option>
  <option id="blackboard3D_Client">1</option>
  <option id="blackboard3D_SubClient">-1</option>
  <option id="blackboard3D_Usuario">3</option>
  <option id="blackboard3D_IdProyecto">4</option>
  <option id="blackboard3D_PlatformOrigin">SM</option>
  <option id="blackboard3D_Observaciones">Observaciones publicas de la tarea táctica</option>
  <option id="blackboard3D_Nombre">Nombre de la tarea</option>
  <option id="blackboard3D_IdPlantilla">1</option>
  <!-- <option id="blackboard3D_Template">local</option> -->
<option id="blackboard3D_OnlyView">true</option>
  <option id="logoCliente_src_blackboard3D">https://assets.laliga.com/assets/logos/laliga-h/laliga-h-300x300.png</option>
<script src="/imgfiles/blackboard3D/blackboard3D.js"></script>
</div>
