<html>
<% include ../template/head.html %>
  <body>
    <!-- FIN CABEZERA: DENTRO DE ZONA BLACKBOARD -->
    <div id="wrapper">
      <% include ../template/menuvertical.html %>
      <div id="page-wrapper">
        <!-- inicio menu -->
        <% include ../parts/create.html %>
    <!-- fin menu -->

  </div>
</div>
<% include ../template/footer.html %>
</body>
