<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<% include ../template/head.html %>
  <body>
    <!-- FIN CABEZERA: DENTRO DE ZONA BLACKBOARD -->
    <div id="wrapper">
      <% include ../template/menuvertical.html %>
      <div id="page-wrapper">
        <!-- inicio menu -->
        <% include ../template/menuhorizontal.html %>
    <!-- fin menu -->
<% include ../blackboardv2.html %>
  </div>
</div>
<% include ../template/footer.html %>
</body>
