<!DOCTYPE html>
<html>
<% include ../template/head2.html %>
  <body>
    <!-- FIN CABEZERA: DENTRO DE ZONA BLACKBOARD -->
    <div id="wrapper">
      <% include ../template/menuvertical2.html %>
      <div id="page-wrapper">
        <!-- inicio menu -->
        <% include ../template/menuhorizontal2.html %>
    <!-- fin menu -->
<% include ../blackboardv1.html %>
  </div>
</div>
<% include ../template/footer2.html %>
</body>
