<html>
<head>

      <!--Full calendar-->
      <link href="https://smtest.1d3a.com/imgfiles/css/plugins/fullcalendar/core/main.min.css" rel="stylesheet">
      <link href="https://smtest.1d3a.com/imgfiles/css/plugins/fullcalendar/daygrid/main.min.css" rel="stylesheet">
      <link href="https://smtest.1d3a.com/imgfiles/css/plugins/fullcalendar/timegrid/main.min.css" rel="stylesheet">
      <link href="https://smtest.1d3a.com/imgfiles/css/plugins/fullcalendar/list/main.min.css" rel="stylesheet">
      <link href="https://smtest.1d3a.com/imgfiles/css/plugins/fullcalendar/bootstrap/main.min.css" rel="stylesheet">
      <!--Icons font awesome-->
      <link href="https://smtest.1d3a.com/imgfiles/font-awesome5/css/all.css" rel="stylesheet">
      <!--Bootstrap css-->
      <link href="https://smtest.1d3a.com/imgfiles/css/bootstrap.min.css" rel="stylesheet">
      <!--Animate css-->
      <link href="https://smtest.1d3a.com/imgfiles/css/animate.css" rel="stylesheet">
      <!--Inspinia css-->
      <link href="https://smtest.1d3a.com/imgfiles/css/style.css?12" rel="stylesheet">
      <!--Datatable css y puggin ordenacion fecha europea-->
      <link href="https://smtest.1d3a.com/imgfiles/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
      <!--Select2 css-->
      <link href="https://smtest.1d3a.com/imgfiles/css/plugins/select2/select2.min.css?2" rel="stylesheet">

      <!--Datetime picker css-->
      <link href="https://smtest.1d3a.com/imgfiles/css/plugins/tempusdominus/tempusdominus-bootstrap-4.css" rel="stylesheet">

      <!--Checkbox awesome css-->
      <link href="https://smtest.1d3a.com/imgfiles/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css?5" rel="stylesheet">
      <!--Color picker css-->
      <link href="https://smtest.1d3a.com/imgfiles/css/plugins/colorpicker/spectrum.min.css" rel="stylesheet">
      <!--Jstree css-->
      <link href="https://smtest.1d3a.com/imgfiles/css/plugins/jsTree/style.min.css" rel="stylesheet">
      <link href="/imgfiles/css/plugins/jsTree/proton/style.css" rel="stylesheet">
      <!--Boostrap Select css-->
      <link href="https://smtest.1d3a.com/imgfiles/css/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
      <!--Toastr css-->
      <link href="https://smtest.1d3a.com/imgfiles/css/plugins/toastr/toastr.min.css" rel="stylesheet">
      <!--Sportsmanager css-->
      <link href="https://smtest.1d3a.com/imgfiles/css/smstyle.css?95" rel="stylesheet">

      <!--Jquery js-->
      <script src="https://smtest.1d3a.com/imgfiles/js/jquery-3.1.1.min.js"></script>
      <!--Tooltip and pooper js-->
      <script src="https://smtest.1d3a.com/imgfiles/js/popper.min.js"></script>
      <!--Bootstrap js-->
      <script src="https://smtest.1d3a.com/imgfiles/js/bootstrap.js"></script>
      <!--Inspinia js-->
      <script src="https://smtest.1d3a.com/imgfiles/js/inspinia.js"></script>
      <!--Menu metis js-->
      <script src="https://smtest.1d3a.com/imgfiles/js/plugins/metisMenu/jquery.metisMenu.js"></script>
      <!--Loading js-->
      <script src="https://smtest.1d3a.com/imgfiles/js/plugins/pace/pace.min.js"></script>
      <!--Scroll js-->
      <script src="https://smtest.1d3a.com/imgfiles/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
      <!--Datatable js-->
      <script src="https://smtest.1d3a.com/imgfiles/js/plugins/dataTables/datatables.min.js"></script>
      <script src="https://smtest.1d3a.com/imgfiles/js/plugins/dataTables/dataTables.bootstrap4.min.js"></script>
      <!--Select2 js-->
      <script src="https://smtest.1d3a.com/imgfiles/js/plugins/select2/select2.full.min.js"></script>

      <!--Multiselect js-->
      <script src="https://smtest.1d3a.com/imgfiles/js/plugins/multiselect_two_sides/multiselect.js"></script>
      <!--Moment js-->
      <script src="https://smtest.1d3a.com/imgfiles/js/plugins/moments/moment-with-locales.min.js"></script>
      <!--Datetime picker js-->
      <script src="https://smtest.1d3a.com/imgfiles/js/plugins/tempusdominus/tempusdominus-bootstrap-4.js"></script>
      <!--Color picker js-->
      <script src="https://smtest.1d3a.com/imgfiles/js/plugins/colorpicker/spectrum.min.js?3"></script>
      <!--Google maps api js-->
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDCfa0UEfvcS7OkRuhQimCOlFCVzEUpdo" async defer></script>
      <!--Full calendar js-->
      <script src="https://smtest.1d3a.com/imgfiles/js/plugins/fullcalendar/core/main.min.js"></script>
      <script src="https://smtest.1d3a.com/imgfiles/js/plugins/fullcalendar/interaction/main.min.js"></script>
      <script src="https://smtest.1d3a.com/imgfiles/js/plugins/fullcalendar/core/locales-all.min.js"></script>
      <script src="https://smtest.1d3a.com/imgfiles/js/plugins/fullcalendar/daygrid/main.min.js"></script>
      <script src="https://smtest.1d3a.com/imgfiles/js/plugins/fullcalendar/timegrid/main.min.js"></script>
      <script src="https://smtest.1d3a.com/imgfiles/js/plugins/fullcalendar/list/main.min.js"></script>
      <script src="https://smtest.1d3a.com/imgfiles/js/plugins/fullcalendar/bootstrap/main.min.js"></script>
      <!--Jstree js-->
      <script src="https://smtest.1d3a.com/imgfiles/js/plugins/jsTree/jstree.min.js?1"></script>
      <!--Boostrap Select js-->
      <script src="https://smtest.1d3a.com/imgfiles/js/plugins/bootstrap-select/bootstrap-select.min.js"></script>
      <!--SheetJS js-->
      <script src="https://smtest.1d3a.com/imgfiles/js/plugins/xlsx/xlsx.full.min.js"></script>
      <!--Toastr js-->
      <script src="https://smtest.1d3a.com/imgfiles/js/plugins/toastr/toastr.min.js"></script>

      <!--Datatable puggin ordenacion fecha europea-->

      <script src="https://cdn.datatables.net/plug-ins/1.10.11/sorting/date-eu.js" type="text/javascript"></script>

      <!--JSPDF Ernesto-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.2.4/jspdf.plugin.autotable.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>


</head>
<body class="bg-light">

  <div class="container-fluid row mx-auto" style="max-width:90%;">
    <h1>PARAMETROS:</h1>
    <hr>
    <div class="row">

        <div class="form-group">
        <label>blackboard3Denvironment</label>
        <input id="blackboard3Denvironment3" class="form-control" type="text"  value="bmdevel.1d3a.com"  placeholder="blackboard3Denvironment">
        <small  class="form-text text-muted">blackboard3Denvironment</small>
        </div>
      <div class="form-group">
      <label>¿Crear Nueva pizarra?</label>
      <select id="blackboard3D_Method3" class="form-control" >
        <option default value="create">SI</option>
        <option value="NO">NO</option>
      </select>
      <small  class="form-text text-muted">METHOD</small>
      </div>
<div class="form-group">
<label>blackboard3D_Client</label>
<input id="blackboard3D_Client3"  class="form-control" type="text"   value="1" >
<small  class="form-text text-muted">blackboard3D_Client</small>
</div>
<div class="form-group">
<label>blackboard3D_SubClient</label>
<input id="blackboard3D_SubClient3" class="form-control" type="text" value="-1"   >
<small  class="form-text text-muted">blackboard3D_SubClient</small>
</div>
<div class="form-group">
<label>blackboard3D_Usuario</label>
<input id="blackboard3D_Usuario3" class="form-control" type="text"   value="116" >
<small  class="form-text text-muted">blackboard3D_Usuario</small>
</div>
<div class="form-group">
<label>blackboard3D_IdProyecto</label>
<input id="blackboard3D_IdProyecto3" class="form-control" type="text"   value="66" >
<small  class="form-text text-muted">blackboard3D_IdProyecto</small>
</div>
<div class="form-group">
<label>blackboard3D_PlatformOrigin</label>
<input id="blackboard3D_PlatformOrigin3" class="form-control" value="SM" type="text"    >
<small  class="form-text text-muted">blackboard3D_PlatformOrigin</small>
</div>
<div class="form-group">
<label>blackboard3D_Observaciones</label>
<input id="blackboard3D_Observaciones3"  class="form-control" type="text" value="Observaciones Test"   placeholder="blackboard3D_Observaciones">
<small  class="form-text text-muted">blackboard3D_Observaciones</small>
</div>
<div class="form-group">
<label>blackboard3D_Nombre</label>
<input id="blackboard3D_Nombre3" class="form-control" type="text" value="Otra"   placeholder="blackboard3D_Nombre">
<small  class="form-text text-muted">blackboard3D_Nombre</small>
</div>
<div class="form-group">
<label>Activar PLANTILLA O DEPORTE (DESACTIVADO)</label>
<select class="form-control">
  <option>DEPORTE</option>
  <option>PLANTILLA</option>
</select>
<small  class="form-text text-muted">Activar PLANTILLA O DEPORTE</small>
</div>
<div class="form-group">
<label>blackboard3D_IdDeporte</label>
<input id="blackboard3D_IdDeporte3" class="form-control" type="text"  value="1"  placeholder="blackboard3D_IdDeporte">
<small  class="form-text text-muted">blackboard3D_IdDeporte</small>
</div>
<div class="form-group">
<label>blackboard3D_IdPlantilla</label>
<input id="blackboard3D_IdPlantilla3" class="form-control" type="text"  value="1"  placeholder="blackboard3D_IdPlantilla">
<small  class="form-text text-muted">blackboard3D_IdPlantilla</small>
</div>
<div class="form-group">
<label>logoCliente_src_blackboard3D</label>
<input id="logoCliente_src_blackboard3D3" class="form-control" type="text" value="https://assets.laliga.com/assets/logos/laliga-h/laliga-h-300x300.png"   placeholder="logoCliente_src_blackboard3D">
<small  class="form-text text-muted">logoCliente_src_blackboard3D</small>
</div>
<script type="text/javascript">

var html='';

  function updateForm(){
    $("#blackboard3Denvironment").html($("#blackboard3Denvironment3")[0].value);
    $("#blackboard3D_Method").html($("#blackboard3D_Method3")[0].value);
    $("#blackboard3D_Client").html($("#blackboard3D_Client3")[0].value);
    $("#blackboard3D_SubClient").html($("#blackboard3D_SubClient3")[0].value);
    $("#blackboard3D_Usuario").html($("#blackboard3D_Usuario3")[0].value);
    $("#blackboard3D_IdProyecto").html($("#blackboard3D_IdProyecto3")[0].value);
    $("#blackboard3D_PlatformOrigin").html($("#blackboard3D_PlatformOrigin3")[0].value);
    $("#blackboard3D_Observaciones").html($("#blackboard3D_Observaciones3")[0].value);
    $("#blackboard3D_Nombre").html($("#blackboard3D_Nombre3")[0].value);
    $("#blackboard3D_IdDeporte").html($("#blackboard3D_IdDeporte3")[0].value);
    $("#blackboard3D_IdPlantilla").html($("#blackboard3D_IdPlantilla3")[0].value);
    $("#logoCliente_src_blackboard3D").html($("#logoCliente_src_blackboard3D3")[0].value);



  }

  var queryString = window.location.search;
  var urlParams = new URLSearchParams(queryString);
  var blackboard3Denvironment = urlParams.get('blackboard3Denvironment');
  var blackboard3D_Method = urlParams.get('blackboard3D_Method');
  var blackboard3D_Client = urlParams.get('blackboard3D_Client');
  var blackboard3D_SubClient = urlParams.get('blackboard3D_SubClient');
  var blackboard3D_Usuario = urlParams.get('blackboard3D_Usuario');
  var blackboard3D_IdProyecto = urlParams.get('blackboard3D_IdProyecto');
  var blackboard3D_PlatformOrigin = urlParams.get('blackboard3D_PlatformOrigin');
  var blackboard3D_Observaciones = urlParams.get('blackboard3D_Observaciones');
  var blackboard3D_Nombre = urlParams.get('blackboard3D_Nombre');
  var blackboard3D_IdDeporte = urlParams.get('blackboard3D_IdDeporte');
  var blackboard3D_IdPlantilla = urlParams.get('blackboard3D_IdPlantilla');
  var logoCliente_src_blackboard3D = urlParams.get('logoCliente_src_blackboard3D');

  // function urlparam(){
if (blackboard3Denvironment!=undefined) {
  $("#blackboard3Denvironment3")[0].value=blackboard3Denvironment;
  $("#blackboard3D_Method3")[0].value=blackboard3D_Method;
  $("#blackboard3D_Client3")[0].value=blackboard3D_Client;
  $("#blackboard3D_SubClient3")[0].value=blackboard3D_SubClient;
  $("#blackboard3D_Usuario3")[0].value=blackboard3D_Usuario;
  $("#blackboard3D_IdProyecto3")[0].value=blackboard3D_IdProyecto;
$("#blackboard3D_PlatformOrigin3")[0].value=blackboard3D_PlatformOrigin;
 $("#blackboard3D_Observaciones3")[0].value=blackboard3D_Observaciones;
 $("#blackboard3D_Nombre3")[0].value=blackboard3D_Nombre;
 $("#blackboard3D_IdDeporte3")[0].value=blackboard3D_IdDeporte;
 $("#blackboard3D_IdPlantilla3")[0].value=blackboard3D_IdPlantilla;
$("#logoCliente_src_blackboard3D3")[0].value=logoCliente_src_blackboard3D;
// setTimeout(function(){
// $("#reloadBlack").html('<script>document.write(html);<\/script>')
//  }, 3000);



}
updateForm();
  // }

  var urltoGO=new URLSearchParams("?");
function hrefButton(){

  urltoGO.append("blackboard3Denvironment",$("#blackboard3Denvironment3")[0].value);
  urltoGO.append("blackboard3D_Method",$("#blackboard3D_Method3")[0].value);
  urltoGO.append("blackboard3D_Client",$("#blackboard3D_Client3")[0].value);
  urltoGO.append("blackboard3D_SubClient",$("#blackboard3D_SubClient3")[0].value);
  urltoGO.append("blackboard3D_Usuario",$("#blackboard3D_Usuario3")[0].value);
  urltoGO.append("blackboard3D_IdProyecto",$("#blackboard3D_IdProyecto3")[0].value);
  urltoGO.append("blackboard3D_PlatformOrigin",$("#blackboard3D_PlatformOrigin3")[0].value);
  urltoGO.append("blackboard3D_Observaciones",$("#blackboard3D_Observaciones3")[0].value);
  urltoGO.append("blackboard3D_Nombre",$("#blackboard3D_Nombre3")[0].value);
  urltoGO.append("blackboard3D_IdDeporte",$("#blackboard3D_IdDeporte3")[0].value);
  urltoGO.append("blackboard3D_IdPlantilla",$("#blackboard3D_IdPlantilla3")[0].value);
  urltoGO.append("logoCliente_src_blackboard3D",$("#logoCliente_src_blackboard3D3")[0].value);
    // $("#reloadBlack")[0].write(html);
  console.log(urltoGO);
  window.location.href="/params/?"+urltoGO.toString();
  // location.reload();
}
</script>


    </div>
    <div class="row-fluid mx-auto">
      <a onclick="hrefButton();" class="btn-lg btn-info mx-auto">RECARGAR PIZARRA</a>
    </div>
    <div class="container-fluid" style="display:flex;">

    <option id="blackboard3Denvironment">blackboard3Denvironment</option>
    <!-- <option id="blackboard3D_Template">2</option> -->
    <option id="blackboard3D_Method">blackboard3D_Method</option>
      <option id="blackboard3D_Client">blackboard3D_Client</option>
      <option id="blackboard3D_SubClient">blackboard3D_SubClient</option>
      <option id="blackboard3D_Usuario">blackboard3D_Usuario</option>
      <option id="blackboard3D_IdProyecto">blackboard3D_IdProyecto</option>
      <option id="blackboard3D_PlatformOrigin">blackboard3D_PlatformOrigin</option>
      <option id="blackboard3D_Observaciones">blackboard3D_Observaciones</option>
      <option id="blackboard3D_Nombre">blackboard3D_Nombre</option>
    <option id="blackboard3D_IdDeporte">blackboard3D_IdDeporte</option>
     <option id="blackboard3D_IdPlantilla">blackboard3D_IdPlantilla</option>
     <option id="logoCliente_src_blackboard3D">logoCliente_src_blackboard3D</option>
     <textarea name="screenPizarra" id="screenPizarra" cols="30" rows="1"></textarea>
     <input type="text" name="uidUrlPizarra" value="" id="uidUrlPizarra">
       </div>
  </div>
  <hr>



  <script type="text/javascript">
    updateForm();
  </script>
  <div id="wrapper" class="container-row">
    <div id="blackboardpage" style="margin-bottom: 5em; max-height: 800px;">
      <script src="/imgfiles/blackboard3D/blackboard3D.js"></script>
  </div>

  </div>

</body>
</html>
















<!-- <option id="blackboard3D_AutoSave">true</option> -->
<!-- <option id="logoCliente_src_blackboard3D"></option> -->
<!-- option id="blackboard3D_Template">1</option -->
<!-- blackboard3Denvironment=document.getElementById("blackboard3Denvironment").innerHTML; -->
