<html>
<% include ../template/head.html %>
  <body>
    <!-- FIN CABEZERA: DENTRO DE ZONA BLACKBOARD -->
    <div id="wrapper">
      <% include ../template/menuvertical.html %>
      <div id="page-wrapper">
        <!-- inicio menu -->
        <% include ../template/menuhorizontal.html %>

    <!-- fin menu -->
    <% include ../parts/portal.html %>

  </div>
</div>
<% include ../template/footer.html %>
</body>
