<eBD:USE LIB="sportsManager"/>
<eBD:USE LIB="util"/>

<eBD:ARGS name="id" DEFAULT="" />

<eBD:SET VAR="disab" VALUE="" />
<eBD:SET VAR="estiloBotones" VALUE="" />

<eBD:CALL FUNCTION="getParametrosServicioIframe" VAR="tipoServicio" index="tipoServicio" idServicioCliente="%idServicioCliente"/>
<eBD:CALL FUNCTION="getDatosScouting" VAR="datosScouting" scout="$id"/>
<eBD:CALL FUNCTION="urlSportsManager" VAR="url"/>

<eBD:SET VAR="bloquear" VALUE="@datosScouting[2]" />
<style>
  label {
    font-weight:bold;
    color: black;
  }
  .selected-td {
    background-color: red !important;
    color: white;
  }
  .lineas-diagonales-R{
    background: repeating-linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 10px,
      rgba(0, 0, 0, 0.3) 10px,
      rgba(0, 0, 0, 0.3) 20px
    );
  }
</style>
<div id="divWrapper" class="row wrapper wrapper-content" style="padding-top:0px;padding-bottom:0px;" beforeunload='javascript:cerrar();'>
  <div class="col-sm-12 col-12" style="padding-right: 0;">
    <div class="row ibox" style="padding-right: 0;">
      <div id="cabecera" class="col-sm-12 ibox-content" style="padding-top:0px;padding-bottom:0px;">
        <h2>
          <eBD:DOC>
            <a id="botBack" href="" class="btn btn-default btn-sm" style="margin-top: 6;margin-left: 0px;width:auto;text-align:center;">
          </eBD:DOC>
          <a id="botExit" href="javascript:cerrar();" class="btn btn-default btn-sm" style=";margin-left: 0px;width:auto;text-align:center;">
            <i class="fas fa-2x fa-arrow-alt-circle-left" title="<eBD:OUT VALUE='#[eBDLocale.literal(Volver_atras)]'/>" style="font-size:20px;"></i>&nbsp;&nbsp;
            <b style="font-size:17px;"><eBD:OUT VALUE='#[eBDLocale.literal(Salir)]'/></b>
          </a>
          <a id="backTop" class="btn btn-default btn-sm botones-generales-estudio <eBD:OUT VALUE='$disab' />" style="margin-left: 0px;<eBD:OUT VALUE='$estiloBotones'/>;" onclick="scrollFunction('top')">
            <i class="fas fa-2x fa-level-up-alt" title="<eBD:OUT VALUE='#[eBDLocale.literal(Ir_primero)]'/>"></i>
          </a>
          <a id="backBottom" class="btn btn-default btn-sm botones-generales-estudio <eBD:OUT VALUE='$disab' />" style="margin-left: 0px;<eBD:OUT VALUE='$estiloBotones'/>;" onclick="scrollFunction('bottom')">
            <i class="fas fa-2x fa-level-down-alt" title="<eBD:OUT VALUE='#[eBDLocale.literal(Ir_ultimo)]'/>"></i>
          </a>
          <a id="backPreviousPage"  class="btn btn-default btn-sm botones-generales-estudio <eBD:OUT VALUE='$disab' />" style="margin-left: 0px;<eBD:OUT VALUE='$estiloBotones'/>;" onclick="scrollFunction('previous')">
            <i class="fas fa-2x fa-angle-double-left" title="<eBD:OUT VALUE='#[eBDLocale.literal(Anterior)]'/>"></i>
          </a>
          <a id="backNextPage"class="btn btn-default btn-sm botones-generales-estudio <eBD:OUT VALUE='$disab' />" style="margin-left: 0px;<eBD:OUT VALUE='$estiloBotones'/>;" onclick="scrollFunction('next')">
            <i class="fas fa-2x fa-angle-double-right" title="<eBD:OUT VALUE='#[eBDLocale.literal(Siguiente)]'/>"></i>
          </a>
          <span style="vertical-align: middle;"><eBD:OUT VALUE="@datosScouting[1]" /></span>
        <h2>
      </div>


      <div class="col-6">

      <div id="blackTop" class="row" style="height:375px;">


         <div id='acciones' class="col-6 ibox-content"  style="padding-top:0px;padding-bottom:0px;">
        <eBD:DOC>
          <input type="hidden" id="tipoServicio" value="<eBD:OUT VALUE='$tipoServicio' />">
        </eBD:DOC>
        <input type="hidden" id="tipoServicio" value="S">
        <input type="hidden" id="ideScouting" value="<eBD:OUT VALUE='$id' />">
        <input type="hidden" id="url" value="<eBD:OUT VALUE='$url' />">
        <input type="hidden" id="noScouting" value="<eBD:OUT VALUE='#[eBDLocale.literal(noScouting)]'/>">
        <input type="hidden" id="siScouting" value="<eBD:OUT VALUE='#[eBDLocale.literal(siScouting)]'/>">
        <input type="hidden" id="ideEstudio" value="<eBD:OUT VALUE='@datosScouting[0]' />">
        <input type="hidden" id="bloquear" value="<eBD:OUT VALUE='$bloquear' />">

        <!-- ZONA TAGS INSPECCION -->
        <div id="divContTagsIzq" style="max-height: 100%;background: white;">
          <div class="col-md-12 col-12" style="height:40px;width:235px;">
            <div class="row">
              <div id="divtemporizador" class=" col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12 text-center">
                <span id="temporizador" style="font-size:16px;line-height:40px;"><span id="horas">00</span>:<span id="minutos">00</span>:<span id="segundos">00</span></span>
              </div>
              <div id="contags" class=" col-xl-3 col-lg-6 col-md-7 col-sm-7 col-7 text-center" style="font-size:18px;line-height:40px;">
                0
              </div>
              <eBD:IF EXPR="$bloquear == 'N'">
                <div class=" col-xl-2 col-lg-5 col-md-5 col-sm-5 col-5 text-center" style="font-size: 25px;padding:0px;z-index:999;margin-left: -4px;" id="undo">
                  <i class="fas fa-trash" style="line-height:38px;"></i>
                </div>
                <div class="col-xl-2 col-lg-7 col-md-5 col-sm-5 col-5">
                  <button type="button" class="btn btn-sm animated-button victoria-three" id="cerrarScouting" data-toggle="modal" data-target="#modalCerrar"
                          data-backdrop="static"
                          style="font-size: 14px; text-transform: inherit; width: 125px;background-color: rgb(215, 55, 27) !important;color: rgb(255, 255, 255);">
                    <eBD:OUT VALUE='#[eBDLocale.literal(Cerrar)]'/>
                  </button>
                </div>
              </eBD:IF>
            </div>
          </div>
          <hr style="border-bottom: 2px solid rgb(215, 55, 27);">
          <div id="tags" class="col-sm-12 col-12" style="max-width:100%;max-height:900px;overflow-y: scroll;overflow-x: hidden;padding:0px;overflow:scroll" >

          </div>
        </div>
      </div>




         <div id='jugadores'class="col-6 ibox-content"  style="padding-top:0px;padding-bottom:0px;">
        <div id="pkAtributosGenerales" class="col-12" style="max-height:900px;margin-left:-0.5%">
          <div class="row">
            <div class="col-5" style="padding-right: 10px;padding-top: 10px;">
              <span id="relojestudio" style="font-size:22px;"></span>
            </div>
            <eBD:IF EXPR="$bloquear == 'N'">
              <div id="" class="entrada row col-6" style="margin-top: 10px;padding: 0;">
                <button type="submit" class="btn btn-sm col-12" id="playIns" name="playIns" value="" style="background-color: #27AE60;color: #FFFFFF;padding: 10px;border-radius: 10px;font-size: 20px;" >
                  <i id="icoPlayIns" class="fas fa-play"></i>
                </button>
                <button type="submit" class="btn btn-sm col-6" id="stopIns" name="playIns" value="" style="display:none;background-color: #C0392B;color: #FFFFFF;padding: 10px;border-radius: 10px;font-size: 20px;" >
                  <i id="icoStopIns" class="fas fa-stop"></i>
                </button>
              </div>

            </eBD:IF>
            <div id='datosJugadores' class="col-sm-12" style='overflow:scroll'>
              <eBD:CALL FUNCTION="getJugadores" VAR="datJugadores" scout="$id"/>
              <eBD:OUT VALUE="$datJugadores" />
            </div>
          </div>
        </div>
      </div>
      </div>


        <div class="row" >
  <input onchange="fastLoadBlackboard();" type="text" id="blackboard3D_input_UIDURL" value="1"><br>
          <input type="text" id="blackboard3D_input_name" value="name">

        <div id="blackboardpage" style="max-height:260px;margin-left: 5px;">



  <option id="blackboard3Denvironment">bmdevel.1d3a.com</option>
    <!-- <option id="blackboard3D_UIDURL">1</option> -->
<!-- option id="logoCliente_src_blackboard3D">https://assets.laliga.com/assets/logos/laliga-h/laliga-h-300x300.png</option -->
<script src="https://bmdevel.1d3a.com/imgfiles/blackboard3D/blackboard3D.js"></script>
<option id="blackboard3D_Method">create</option>
<!-- option id="blackboard3D_Template">local</option -->

  <option id="blackboard3D_Client">1</option>
  <option id="blackboard3D_SubClient">-1</option>
  <option id="blackboard3D_Usuario">3</option>
  <option id="blackboard3D_IdProyecto">4</option>
  <option id="blackboard3D_PlatformOrigin">MM</option>
  <option id="blackboard3D_Observaciones">Observaciones publicas de la tarea táctica</option>
  <option id="blackboard3D_Nombre">Nombre de la tarea</option>
  <option id="blackboard3D_IdPlantilla">1</option>





</div>
        </div>

      </div>

      <div class="col-6">


            <div id='botoneras'class="col row ibox-content"  style="padding-right: 0;padding-top:0px;padding-bottom:0px;">
        <div id='botIzq'class="col-sm-6 ibox-content"  style="padding-right: 0;padding-top:0px;padding-bottom:0px;padding-left: 0;padding-right: 0;overflow:scroll;">
          <eBD:CALL FUNCTION="getBotoneras" VAR="botonerasI" lateralidad="I" scout="$id"/>
          <eBD:OUT VALUE="$botonerasI" />
        </div>
        <div id='botDer'class="col-sm-6 ibox-content"  style="padding-right: 0;padding-top:0px;padding-bottom:0px;padding-left: 0;padding-right: 0;overflow:scroll;">
          <eBD:CALL FUNCTION="getBotoneras" VAR="botonerasD" lateralidad="D" scout="$id"/>
          <eBD:OUT VALUE="$botonerasD" />
        </div>
      </div>
    </div>
    </div>
  </div>


      </div>





<!-- /div -->

<eBD:DOC>
  MODAL PARA FINALIZAR EL TIMER DURANTE UNA INSPECCION
</eBD:DOC>
<div id="modalConfirmFin" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body text-modal-15 align-center">
        <eBD:OUT VALUE='#[eBDLocale.literal(fin_inspeccion)]'/>
      </div>
      <div class="modal-footer">
      <eBD:DOC>
        <button type="button" class="btn btn-sm animated-button victoria-three" id="accModalConfirmChange" data-dismiss="modal" style="font-size: 14px; text-transform: inherit; width: 125px;"><eBD:OUT VALUE='#[eBDLocale.literal(Borrar_todo)]'/></button>
        <button type="button" class="btn btn-sm animated-button victoria-three" id="accModalConfirmFin" data-dismiss="modal" style="font-size: 14px; text-transform: inherit; width: 125px;"><eBD:OUT VALUE='#[eBDLocale.literal(Solo_accion)]'/></button>
      </eBD:DOC>
        <button type="button" class="btn btn-sm animated-button victoria-three" id="accModalConfirmFin" data-dismiss="modal"><i class="fa fa-save" title="<eBD:OUT VALUE='#[eBDLocale.literal(Guardar)]'/>"></i></button>
        <button type="button" class="btn btn-sm animated-button victoria-three-close" data-dismiss="modal"><i class="fa fa-times" title="<eBD:OUT VALUE='#[eBDLocale.literal(Cerrar)]'/>"></i></button>
      </div>
    </div>

  </div>
</div>

<eBD:DOC>
  MODAL DE OBSERVACIONES DE JUGADOR
</eBD:DOC>
<div id="observacionesJugador" class="modal fade" role="dialog">
  <div class="modal-dialog" style="max-width: 1000px;max-height: 600px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="titulo"></h4>
      </div>
      <div class="row" style="padding-left: 25;padding-right: 25;padding-top: 10;padding-bottom: 20;">
        <div class="col-sm-4 ">
          <div class="">
            <div class="text-center up" style="padding: 25;/*margin-top: 25;*/">
              <img id='imagenModal' alt="image" class="img-reponsive" title="$nombre $apellidos"style="max-width: 150;">
            </div>
          </div>
          <div class="row">
            <label for="" class="col-form-label col-sm-3"><eBD:OUT VALUE="#[eBDLocale.literal(Dorsal)]" /></label>
            <div class="col-sm-9" id="perfil_inputNombre">
              <input type="text" class="form-control" name="dorsalModal" id="dorsalModal"  readonly required>
            </div>
            <label for="" class="col-form-label col-sm-3"><eBD:OUT VALUE="#[eBDLocale.literal(Nombre)]" /></label>
            <div class="col-sm-9" id="perfil_inputNombre">
              <input type="text" class="form-control" name="nombreModal" id="nombreModal" readonly required>
            </div>
            <label for="" class="col-form-label col-sm-3"><eBD:OUT VALUE="#[eBDLocale.literal(apellidos)]" /></label>
            <div class="col-sm-9" id="perfil_inputNombre">
              <input type="text" class="form-control" name="apellidosModal" id="apellidosModal" readonly>
            </div>
            <label for="" class="col-form-label col-sm-3"><eBD:OUT VALUE="#[eBDLocale.literal(equipo)]" /></label>
            <div class="col-sm-9" id="perfil_inputNombre">
              <input type="text" class="form-control" name="equipoModal" id="equipoModal" readonly>
            </div>
          </div>
        </div>
        <div class="entrada col-sm-8" id='div_observaciones'>
          <div class="taginput">
            <label for="" class="col-form-label"><eBD:OUT VALUE="#[eBDLocale.literal(Observaciones)]" /></label>
            <textarea name="observacionesModal" id="observacionesModal" rows="14" style="width: 100%"></textarea>
          </div>
        </div>
        <div class="entrada col-sm-8" id='div_video'>
          <label for="" class="col-form-label"><eBD:OUT VALUE="#[eBDLocale.literal(tiempos_accion)]" /></label>
          <div class="taginput" id="tiempos">

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <input type="hidden" id="idJugador">
        <input type="hidden" id="idEstudio">
        <eBD:IF EXPR="$bloquear == 'N'">
          <button type="button" class="btn btn-sm animated-button victoria-three" id="grabarObservaciones"><i class="fas fa-microphone" title="<eBD:OUT VALUE='#[eBDLocale.literal(grabar)]' />" ></i></button>
          <button type="button" class="btn btn-sm animated-button victoria-three" id="borrarObservaciones" style="font-size: 14px; text-transform: inherit; width: 125px;"><eBD:OUT VALUE='#[eBDLocale.literal(Borrar_todo)]'/></button>
          <button type="submit" class="btn btn-sm animated-button victoria-three" id="GuardarModal" data-dismiss="modal"><i class="fas fa-save" title="<eBD:OUT VALUE='#[eBDLocale.literal(Guardar)]' />" ></i></button>
        </eBD:IF>
        <button type="button" class="btn btn-sm animated-button victoria-three-close" data-dismiss="modal"><i class="fa fa-times" title="<eBD:OUT VALUE='#[eBDLocale.literal(Cerrar)]'/>"></i></button>
      </div>
    </div>
  </div>
</div>

<eBD:DOC>
  MODAL PARA FINALIZAR EL EVENTO DE SCOUTING
</eBD:DOC>
<div id="modalCerrar" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title"><eBD:OUT VALUE='#[eBDLocale.literal(cerrarScouting)]'/></h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body text-modal-15 align-center" id="bodyModal">

      </div>
      <div class="modal-footer">
      <eBD:DOC>
        <button type="button" class="btn btn-sm animated-button victoria-three" id="accModalConfirmChange" data-dismiss="modal" style="font-size: 14px; text-transform: inherit; width: 125px;"><eBD:OUT VALUE='#[eBDLocale.literal(Borrar_todo)]'/></button>
        <button type="button" class="btn btn-sm animated-button victoria-three" id="accModalConfirmFin" data-dismiss="modal" style="font-size: 14px; text-transform: inherit; width: 125px;"><eBD:OUT VALUE='#[eBDLocale.literal(Solo_accion)]'/></button>
      </eBD:DOC>
        <button type="button" class="btn btn-sm animated-button victoria-three" id="confCierreScout" data-dismiss="modal"><i class="fa fa-save" title="<eBD:OUT VALUE='#[eBDLocale.literal(Guardar)]'/>"></i></button>
        <button type="button" class="btn btn-sm animated-button victoria-three-close" data-dismiss="modal"><i class="fa fa-times" title="<eBD:OUT VALUE='#[eBDLocale.literal(Cerrar)]'/>"></i></button>
      </div>
    </div>

  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  var altura = window.screen.height
  var altCabecera = altura/10

  if (altCabecera > 50){
    altCabecera = 50;
  }
  var ancho = window.screen.width
  $("#divWrapper").css("height", altura);
  $("#cabecera").css("height", 50);
  $("#acciones").css("height", altura-200);
  $("#tags").css("height", altura-240);
  $("#botIzq").css("height", altura-200);
  $("#botDer").css("height", altura-200);

  $(window).resize(function ()
   {
    var altura = window.screen.height
    $("#divWrapper").css("height", altura);
    $("#cabecera").css("height", 50);
    $("#acciones").css("height", altura-200);
    $("#tags").css("height", altura-240);
    $("#botIzq").css("height", altura-200);
    $("#botDer").css("height", altura-200);
   });

</script>
