<html>
  <head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width, shrink-to-fit=no">

    <title>Sports Manager</title>

    <!--Full calendar-->
    <link href=" https://smdevel.1d3a.com/imgfiles/css/plugins/fullcalendar/core/main.min.css" rel="stylesheet">
    <link href=" https://smdevel.1d3a.com/imgfiles/css/plugins/fullcalendar/daygrid/main.min.css" rel="stylesheet">
    <link href=" https://smdevel.1d3a.com/imgfiles/css/plugins/fullcalendar/timegrid/main.min.css" rel="stylesheet">
    <link href=" https://smdevel.1d3a.com/imgfiles/css/plugins/fullcalendar/list/main.min.css" rel="stylesheet">
    <link href=" https://smdevel.1d3a.com/imgfiles/css/plugins/fullcalendar/bootstrap/main.min.css" rel="stylesheet">
    <!--Icons font awesome-->
    <link href=" https://smdevel.1d3a.com/imgfiles/font-awesome5/css/all.css" rel="stylesheet">
    <!--Bootstrap css-->
    <link href=" https://bmdevel.1d3a.com/imgfiles/css/bootstrap.min.css" rel="stylesheet">
    <!--Animate css-->
    <link href=" https://smdevel.1d3a.com/imgfiles/css/animate.css" rel="stylesheet">
    <!--Inspinia css-->
    <link href=" https://smdevel.1d3a.com/imgfiles/css/style.css?12" rel="stylesheet">
    <!--Datatable css-->
    <link href=" https://smdevel.1d3a.com/imgfiles/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
    <!--Select2 css-->
    <link href=" https://smdevel.1d3a.com/imgfiles/css/plugins/select2/select2.min.css" rel="stylesheet">
    <!--Datetime picker css-->
    <link href=" https://smdevel.1d3a.com/imgfiles/css/plugins/tempusdominus/tempusdominus-bootstrap-4.css" rel="stylesheet">
    <!--Checkbox awesome css-->
    <link href=" https://smdevel.1d3a.com/imgfiles/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css?5" rel="stylesheet">
    <!--Color picker css-->
    <link href=" https://smdevel.1d3a.com/imgfiles/css/plugins/colorpicker/spectrum.min.css" rel="stylesheet">
    <!--Jstree css-->
    <link href=" https://smdevel.1d3a.com/imgfiles/css/plugins/jsTree/style.min.css" rel="stylesheet">
    <link href=" https://smdevel.1d3a.com/imgfiles/css/plugins/jsTree/proton/style.css" rel="stylesheet">
    <!--Boostrap Select css-->
    <link href=" https://smdevel.1d3a.com/imgfiles/css/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
    <!--Toastr css-->
    <link href=" https://smdevel.1d3a.com/imgfiles/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <!--Sportsmanager css-->
    <link href=" https://smdevel.1d3a.com/imgfiles/css/smstyle.css?89" rel="stylesheet">

    <!--Jquery js-->
    <script src="https://bmdevel.1d3a.com/imgfiles/js/jquery-3.1.1.min.js"></script>
    <script src="https://bmdevel.1d3a.com/imgfiles/js/bootstrap.js"></script>


    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>


</head>
  <body>












































































































































































































































































































































<div id="wrapper">




















































































































































































































































<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header menu">
        <div class="dropdown profile-element text-center">

          <div class="mt-3"  style="margin-top: -20 !important;">
            <a href="/informacion-cliente" class="lateral informacion_lateral">1d3a Analógico y Digital, S.L.</a><br>
          </div>
          <div class="mt-1">
            <a href="/modificar-perfil" class="lateral informacion_lateral">Kenneth Suarez Guineart</a>
          </div>
        </div>
      </li>
      <li class="menu">
        <a href="/inicio">
          <i class="fas fa-home"></i>
          <span class="nav-label">Parte principal</span>
        </a>
      </li>
      <li class="menu">
        <a href="#">
          <i class="fas fa-cog"></i>
          <span class="nav-label">Configurar</span> <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level">
          <li><a href='/invitaciones'>Usuarios</a></li>
          <li><a href='/jugadores'>Jugadores</a></li>
          <li><a href='/entidades'>Entidades</a></li>
          <li><a href='/categorias'>Categorias</a></li>
          <li><a href='/demarcaciones'>Demarcaciones</a></li>
          <li><a href='/competiciones'>Competiciones</a></li>
          <li><a href='/modalidades'>Modalidades</a></li>
          <li><a href='/organigrama'>Organigrama</a></li>
        </ul>
      </li>

      <li class="menu"><a href='/sesiones'>Sesiones</a></li>
      <li class="menu"><a href='/tareas'>Tareas</a></li>

    </ul>
  </div>
</nav>





  <div id="page-wrapper" class="gray-bg">































<div class="row border-bottom">
  <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <a class="navbar-minimalize minimalize-styl-2"><i class="fa fa-bars rotate"></i> </a>
      <a href="/informacion-cliente" title="Información cliente">
        <img src="/files/9-561-fichero/tmpzFyiSpY8rmKS6KUx.png" class="logo_cliente" alt="logo cliente">
      </a>

    </div>



    <div class="ml-auto mt-2 form-inline d-none d-sm-flex mr-3" id="inline-select">








        <ul class="nav navbar-top-links navbar-right">
          <li>
            <div class="btn-group button-info">






































              <button type="button" class="btn btn-warning" title="Baloncesto">
                <strong>Baloncesto</strong>
              </button>
            </div>
          </li>
        </ul>


    </div>



    <div class="dropdown profile-element d-flex align-items-center" id="profile">
      <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="true">
        <img alt="image" src="/files/9-736-fichero/tmpmuWwFnMA8UUTyGkQ.com" id="img-profile">
      </a>
      <ul class="dropdown-menu animated fadeInRight m-t-xs" id="profile-menu">
        <li><a class="dropdown-item" href="/modificar-login">Cambiar login</a></li>
        <li><a class="dropdown-item" href="/modificar-perfil">Editar perfil</a></li>
        <!--<li class="dropdown-divider"></li>--> <!-- es la linea divisoria entre Editar perfil y logout -->
        <li><a class="dropdown-item" href="/logout">Salir</a></li>
      </ul>
    </div>



    <div class="col-12">
      <div class="d-flex d-sm-none">







      </div>
    </div>


  </nav>
</div>

<div class="modal fade" id="modal-select-all" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Selector de navegación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" title='Cerrar'>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-12 col-md-6">

            <label for="">Deporte</label>
            <select class="selectpicker show-tick" data-live-search="true" id="selector-deportes"></select>
          </div>
          <div class="col-12 col-md-6">

            <label for="">Categoria</label>
            <select class="selectpicker" title="Seleccionar..." data-live-search="true" id="selector-categorias" data-max-options="1" multiple></select>
          </div>
          <div class="col-md-12 mt-2 selectpicker-equipo d-none">

            <label for="">Equipo</label>
            <select class="selectpicker" title="Seleccionar..." data-live-search="true" id="selector-equipos" data-width="100%" data-max-options="1" multiple></select>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button id="boton-aplicar" type="button" class="btn btn-sm animated-button victoria-three-send" title='Cambiar'><i class="fas fa-save"></i></button>
        <button type="button" class="btn btn-sm animated-button victoria-three-close" data-dismiss="modal" title='Cerrar'><i class="fas fa-times" ></i></button>
      </div>

    </div>
  </div>
</div>




    <div class="container-fluid" style="margin-bottom: 25px;">









































<div class="row">
  <div class="col-md-12 text-right">


      <a href='/listaTareas/_Hr5jFF-TXZgj9CHUzGK0iA' class="btn btn-primary">Volver a tareas</a>



  </div>
</div>

<form  method="post" enctype="multipart/form-data">

<input type="hidden" name="idDeporte" value=''>
<input type="hidden" name="idCategoria" value=''>
<input type="hidden" name="idEquipo" value=''>
<input type="hidden" name="idCliente" value='1'>
<input type="hidden" name="idSubCliente" value='-1'>

<div class="row" >
  <div class="col-md-9" id="mostrarTareaFormulario">

    <div class="ibox">
            <div class="ibox-content">


          <input type="hidden" name="idTarea" value="-1">
          <input type="hidden" name="idFormPrincipal" value="123">
          <div class="col-md-12">
            <div class="row">



            <div class="col-md-12" style="background-color:" id="agrupacion_237">
              <div class="row">
                <div class="col-md-12 text-left" style="color:black;font-size:14px">

                </div>
                <div class="col-md-12" text-left="" style="color:black;font-size=">

                </div>
              </div>
              <br>
              <div class="row" id="Agrupacion237">
                 <div class="col-md-12 " style="margin-top:7px"><label for="" style="font-weight: bold;font-size:12px;">Titulo</label> <br> <input type="text" class="form-control" minsize="1" maxsize="255" required="" placeholder="" value="" name="campo721" id=""></div><br> <div class="col-md-6 " style="margin-top:7px"><label for="" style="font-weight: bold;font-size:12px;">Estrategia</label> <br>  <input type="hidden" name="campo726" id="campo726"> <select id="" class="form-control select2_demo_2" style="width:100%" onchange="changeSelect(event,'campo726')">  <option value="Intensiva">Intensiva</option></select></div><br> <div class="col-md-6 " style="margin-top:7px"><label for="" style="font-weight: bold;font-size:12px;">Objetivos</label> <br> <input type="text" class="form-control" minsize="1" maxsize="255" required="" placeholder="" value="" name="campo729" id=""></div><br> <div class="col-md-4 " style="margin-top:7px"><label for="" style="font-weight: bold;font-size:12px;">Dinamica</label> <br> <input type="text" class="form-control" minsize="1" maxsize="255" required="" placeholder="" value="" name="campo730" id=""></div><br> <div class="col-md-4 " style="margin-top:7px"><label for="" style="font-weight: bold;font-size:12px;">Situación numerica del juego</label> <br>  <input type="hidden" name="campo731" id="campo731"> <select id="" class="form-control select2_demo_2" style="width:100%" onchange="changeSelect(event,'campo731')">   <option value="Desimetria">Desimetria</option> <option value="Simetria">Simetria</option></select></div><br> <div class="col-md-4 " style="margin-top:7px"><label for="" style="font-weight: bold;font-size:12px;">Orientación del Juego</label> <br>  <input type="hidden" name="campo732" id="campo732"> <select id="" class="form-control select2_demo_2" style="width:100%" onchange="changeSelect(event,'campo732')">  <option value="Polarizado">Polarizado</option></select></div><br> <div class="col-md-6 " style="margin-top:7px"><label for="" style="font-weight: bold;font-size:12px;">Principios de juego colectivo</label> <br>  <input type="hidden" name="campo733" id="campo733"> <select id="" class="form-control select2_demo_2" style="width:100%" onchange="changeSelect(event,'campo733')">  <option value="Juego vertical">Juego vertical</option></select></div><br> <div class="col-md-6 " style="margin-top:7px"><label for="" style="font-weight: bold;font-size:12px;">Subprincipios de juego colectivo</label> <br>  <input type="hidden" name="campo734" id="campo734"> <select id="" class="form-control select2_demo_2" style="width:100%" onchange="changeSelect(event,'campo734')"></select></div><br> <div class="col-md-2 " style="margin-top:7px"><label for="" style="font-weight: bold;font-size:12px;">Tiempo</label> <br> <input type="text" class="form-control" minsize="1" maxsize="255" placeholder="" value="" name="campo727" id=""></div><br> <div class="col-md-2 " style="margin-top:7px"><label for="" style="font-weight: bold;font-size:12px;">Espacio</label> <br> <input type="text" class="form-control" minsize="1" maxsize="255" placeholder="" value="" name="campo735" id=""></div><br> <div class="col-md-4 " style="margin-top:7px"><label for="" style="font-weight: bold;font-size:12px;">Feedback </label> <br> <input type="text" class="form-control" minsize="1" maxsize="255" placeholder="" value="" name="campo736" id=""></div><br> <div class="col-md-2 " style="margin-top:7px"><label for="" style="font-weight: bold;font-size:12px;">Num. jugadores</label> <br> <input type="text" class="form-control" minsize="1" maxsize="255" placeholder="" value="" name="campo737" id=""></div><br> <div class="col-md-2 " style="margin-top:7px"><label for="" style="font-weight: bold;font-size:12px;">Complejidad</label> <br>  <input type="hidden" name="campo725" id="campo725"> <select id="" class="form-control select2_demo_2" style="width:100%" onchange="changeSelect(event,'campo725')"></select></div><br> <div class="col-md-12 " style="margin-top:7px"><label for="" style="font-weight: bold;font-size:12px;">Valoración</label> <br> <textarea name="campo738" id="" class="form-control" placeholder=""></textarea></div><br> <div class="col-md-4 " style="margin-top:7px"><label for="" style="font-weight: bold;font-size:12px;">Normativa</label> <br> <textarea name="campo739" id="" class="form-control" placeholder=""></textarea></div><br> <div class="col-md-4 " style="margin-top:7px"><label for="" style="font-weight: bold;font-size:12px;">Consignas</label> <br> <textarea name="campo740" id="" class="form-control" placeholder=""></textarea></div><br> <div class="col-md-4 " style="margin-top:7px"><label for="" style="font-weight: bold;font-size:12px;">Variantes</label> <br> <textarea name="campo741" id="" class="form-control" placeholder=""></textarea></div><br> <div class="col-md-12 " style="margin-top:7px"><label for="" style="font-weight: bold;font-size:12px;">Descripción</label> <br> <textarea name="campo722" id="" class="form-control" placeholder=""></textarea></div><br> <div class="col-md-12 d-none" style="margin-top:7px"><label for="" style="font-weight: bold;font-size:12px;">Fecha</label> <br> <input type="date" name="campo723" id="fechaTarea" placeholder="" value="27/05/2020" class="form-control"></div><br> <div class="col-md-12 d-none" style="margin-top:7px"><label for="" style="font-weight: bold;font-size:12px;">Etiqueta</label> <br> <input type="text" class="form-control" minsize="1" maxsize="255" placeholder="" value="" name="campo724" id=""></div><br> <div class="col-md-12 " style="margin-top:7px"> <br> </div><br>
                <br> <br>
              </div>
            </div>

            </div>
          </div>
          <br><br><br>

          <div class="col-md-12" style="margin-top:15px">
            <div class="tabs-container">
              <ul class="nav nav-tabs" role="tablist" id="myTab">  </ul>
              <div class="tab-content" id="myTabContent">  </div>
            </div>
          </div>
          <br>



          <div class="col-md-12 text-right" style="margin-top:15px">
            <button type="button" onclick="savetoDB()" class="btn btn-primary">Guardar</button>
          </div>

          </div>
          </div>

  </div>

  <div class="col-md-3">
    <br>
    <div class="row">
      <div class="col-md-12">
        <label for=""><b>Subir imagen</b></label> <br>
        <input type="file" name="subirImagenPrincipal" class="form-control"> <br>




      </div>
    </div>
    <br>

      <div class="row" >
        <div class="col-md-12" id="cargaFicheros">
<button onclick="createCurveLine();">VER CURVA</button>
        </div>
        <div style="position: fixed;
    z-index: 9999;">
          <input onclick="fastLoadBlackboard();" type="text" id="blackboard3D_input_UIDURL" value="0">
<br>
<input type="text" id="blackboard3D_input_name" value="name">
<script>
var contando="N"</script>
<input type="text" onclick="contando=this.value;" value="N">
        </div>
      </div>

  </div>

</div>
<br>
<div class="row">
  <div class="col-md-12">

<div id="blackboardpage" style="margin-bottom: 5em; max-height: 800px; height: 587px;">
  <option id="blackboard3Denvironment">bmdevel.1d3a.com</option>
    <!-- <option id="blackboard3D_UIDURL">122575063763306</option> -->
<!-- <option id="logoCliente_src_blackboard3D">https://assets.laliga.com/assets/logos/laliga-h/laliga-h-300x300.png</option> -->


<!-- <option id="blackboard3D_AutoSave">true</option> -->
<option id="blackboard3D_Method">create</option>
<option id="blackboard3D_Template">2</option>
 <option id="blackboard3D_Client">1</option>
  <option id="blackboard3D_SubClient">-1</option>
  <option id="blackboard3D_Usuario">3</option>
  <option id="blackboard3D_IdProyecto">4</option>
  <option id="blackboard3D_PlatformOrigin">SM</option>
  <option id="blackboard3D_Observaciones"></option>
  <option id="blackboard3D_Nombre"></option>
  <option id="blackboard3D_IdPlantilla">1</option>
  <script src="/imgfiles/blackboard3D/blackboard3D.js"></script>


</div>







</div>
</div>
<br>



<div class="col-md-12">
  <div class="row">
    <div class="col-md-6">
      <h3>SESIONES SELECCIONADAS</h3>

      <input type="hidden" name="listaOcultaSesiones" value='' id="listaOcultaSesiones">
      <ul class="sortable-list connectList agile-list" id="listaSesiones">

      </ul>
    </div>
    <div class="col-md-6">

      <h3>SESIONES DISPONIBLES</h3>

      <ul class="sortable-list connectList agile-list" id="listaSesionesdis">















              </ul>
            </div>
          </div>
</div>
</form>


<!-- The Modal -->
<div class="modal" id="modalAtras">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">¿Esta seguro?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Si sale se perderan los datos, ¿esta seguro?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">

        <button type="button" class="btn btn-primary" data-dismiss="modal">Mantener en la pagina</button>
        <a href='/listaTareas/_Hr5jFF-TXZgj9CHUzGK0iA' class="btn btn-danger">Salir</a>

      </div>

    </div>
  </div>
</div>

<div class="modal" id="modalBorrarFichero">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">¿Esta seguro?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Borrar fichero seleccionado
        <input type="hidden" id="idFicheroBorrar">
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onClick="eliminarFichero()">Eliminar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>

    </div>
  </div>
</div>

<!-- jquery UI -->
<script src=" https://smdevel.1d3a.com/imgfiles/js/plugins/jquery-ui/jquery-ui.min.js"></script>

<!-- Touch Punch - Touch Event Support for jQuery UI -->
<script src=" https://smdevel.1d3a.com/imgfiles/js/plugins/touchpunch/jquery.ui.touch-punch.min.js"></script>



  <script>
    $( document ).ready(function() {
    cargarTarea();
    mostrarLateralFicheros();


        $(".sortable-list").sortable({
          connectWith: ".connectList",
          update: function( event, ui ) {
          var arrayAgrupaciones = $("#listaSesiones").sortable("toArray");
          $('#listaOcultaSesiones').val(arrayAgrupaciones);
          }
        });





    });
  </script>



<script>

function setSorteableAgrups(item, index) {

}

function mostrarLateralFicheros()
{
  $.ajax({
      type: "POST",
      url: "/formularioIntel.mostrarLateralFicherosTareas",
      data: {
        'idTarea':'-1'
      },
      success: function (res) {

        $('#cargaFicheros').html(res)

      }
    });
}

function subirFicherosLateral()
{
  var formData = new FormData();

  formData.append('idTarea', -1);

  if($('#subidaFicheros')[0].files[0]){
    formData.append('file', $('#subidaFicheros')[0].files[0]);
  }

  $.ajax({
      cache: false,
      type: 'POST',
      url: '/formularioIntel.guardarFicheroLateral',
      data: formData,
      processData: false,
      contentType: false,
      success: function(data) {
        mostrarLateralFicheros();
      }
    });

}


$( document ).ready(function() {

});

$('#modalBorrarFichero').on('show.bs.modal', function(e) {

    //get data-id attribute of the clicked element
    var idFichero = $(e.relatedTarget).data('id');

    $('#idFicheroBorrar').val(idFichero);

});

function eliminarFichero()
{
  $.ajax({
      type: "POST",
      url: "/formularioIntel.eliminarFicheroTarea",
      data: {
        'idFichero': $('#idFicheroBorrar').val(),
        'idTarea':'-1'
      },
      success: function (res) {

        mostrarLateralFicheros();

      }
    });
}

  function changeSelect(event, id){
  var select2Value = $(event.target).val();
  $("#"+id).val(select2Value);
}

  function cargarTarea()
  {
    $.ajax({
      type: "POST",
      url: "/formularioIntel.mostrarTarea",
      data: {
        'idIdiomaPrincipal': 'es',
        'idTarea':'-1'
      },
      success: function (res) {

        $('#mostrarTareaFormulario').html(res);

        $(".select2_demo_2").select2();

        var now = new Date();

        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);

        var today = now.getFullYear()+"-"+(month)+"-"+(day) ;

        if($('#fechaTarea').val() == '')
        {
          $('#fechaTarea').val(today);
        }


      }
    });
  }


</script>



    </div>

    <div class="footer fixed">



<div>
  <img class="rounded-circle img-sm" src=" https://smdevel.1d3a.com/imgfiles/img/mini-1d3a.png" alt="logo cliente"><strong>1d3a Analógico y Digital, S.L. &copy;</strong> 2017-2020
  <a href="#" style="font-size: x-large;color: black;float: right;"><i class="fas fa-angle-double-up"></i></a>
</div>



    </div>

  </div>

</div>










<script>
  var array_estructura;
  var global_idDeporte = '4';
  var global_idCategorias = '19, 16, 7';
  var global_idEquipos = '18, 21, 10, 9';
  var idCliente = '1';
  var idSubCliente = '-1';
  var idUsuario = '116';
  var idioma = 'es';
  var tiene_cliente = 'No';
  var tiene_sub_cliente = 'No';

  /* Al cargar la pagina se hace las siguentes comprobaciones */
  $(document).ready(function(){
    $('#lista-sub-clientes').val(idSubCliente);
    $('#lista-sub-clientes_mov').val(idSubCliente);

    agregar_clase_navegacion();

    $(".select-entity").select2();

    if(tiene_cliente == "Si"){
      var alias_cliente = $("#lista-clientes")[0].options[$("#lista-clientes")[0].options.selectedIndex].attributes[1].value;
      if (alias_cliente){
        $("#select2-lista-clientes-container").text(alias_cliente);
      }

      var alias_cliente_mov = $("#lista-clientes_mov")[0].options[$("#lista-clientes_mov")[0].options.selectedIndex].attributes[1].value;
      if (alias_cliente_mov){
        $("#select2-lista-clientes_mov-container").text(alias_cliente_mov)
      }
    }

    if(tiene_sub_cliente == 'Si'){
      var alias_subcliente = $("#lista-sub-clientes")[0].options[$("#lista-sub-clientes")[0].options.selectedIndex].attributes[1].value;
      if (alias_subcliente){
        $("#select2-lista-sub-clientes-container").text(alias_subcliente);
      }

      var alias_subcliente_mov = $("#lista-sub-clientes_mov")[0].options[$("#lista-sub-clientes_mov")[0].options.selectedIndex].attributes[1].value
      if (alias_subcliente_mov){
        $("#select2-lista-sub-clientes_mov-container").text(alias_subcliente_mov)
      }

    }

    $(".select2-selection--single").click(function(){
      $(".select2-dropdown").css({'width': 'max-content'})
    });

  });

  /* Al hacer clic el boton cambia de clase */
  $(document).on("click", ".minimalize-styl-2", function(){
    if($(".rotate").hasClass("move")){
      $(".rotate").removeClass("move");
    }else{
      $(".rotate").addClass("move");
    }
  });

  /* Al hacer clic en el boton .button-info button */
  $(document).on('click', ".button-info button", function(e){
    lista_elementos(idCliente, idSubCliente, idUsuario, idioma).done(function(res){
      let options, selected_option;
      array_estructura = res;
      selected_option = global_idDeporte;

      $('#modal-select-all #selector-equipos').selectpicker('hide');
      $(".selectpicker-equipo").addClass("d-none");

      if(array_estructura.length >= 1){

        if(!selected_option){
          selected_option = parseInt(res[0].id);
        }

        options = '<option data-hidden="true" disable>Seleccionar...</option>';

        res.forEach(function(item){
          options += "<option value='"+item.id+"'>"+item.nombre+"</option>";
        });

        $("#modal-select-all #selector-deportes").html(options);
        $('#modal-select-all #selector-deportes').selectpicker('val', selected_option);
        $('#modal-select-all #selector-deportes').selectpicker('refresh');

        let selected_category = global_idCategorias.split(',');
        let selected_category_length = selected_category.length;

        if(selected_category_length > 1){
          selected_category = '';
        }else{
          selected_category = selected_category[0];
        }

        //Mostrar la categoria en base al deporte
        seleccionar_categoria(selected_option, selected_category);
      }

      $("#modal-select-all").modal();
    });
  });

  /* Comprueba si se ha cambiado el valor de #selector-deportes */
  $(document).on('change', '#modal-select-all #selector-deportes', function(e){
    let idDeporte = $("#modal-select-all #selector-deportes").val();

    $('#modal-select-all #selector-equipos').selectpicker('destroy');
    $('#modal-select-all #selector-equipos').selectpicker('hide');
    $(".selectpicker-equipo").addClass("d-none");

    //Mostrar la categoria en base al deporte
    seleccionar_categoria(idDeporte);
  });

  /* Comprueba si se ha cambiado el valor de #selector-categorias */
  $(document).on('change', '#modal-select-all #selector-categorias', function(e){
    let idDeporte = $("#selector-deportes").val();
    let idCategoria = $("#selector-categorias").val();

    if(idCategoria.length >= 1){
      idCategoria = parseInt(idCategoria[0]);
      $(".selectpicker-equipo").removeClass("d-none");
      //Mostrar los equipos en base al deporte y idCategoria
      seleccionar_equipo(idDeporte, idCategoria);
    }else{
      $('#selector-equipos').selectpicker('hide');
      $(".selectpicker-equipo").addClass("d-none");
    }

  });

  /* Comprueba si se ha cambiado el valor de #selector-equipos */
  $(document).on('change', '#modal-select-all #selector-equipos', function(e){
    let idEquipo = $("#selector-equipos").val();
  });

  /* Al hacer clic en el boton boton-aplicar haz...*/
  $(document).on('click', '#modal-select-all #boton-aplicar', function(e){
    let idDeporte = $("#modal-select-all #selector-deportes").val();
    let idCategoria = $("#modal-select-all #selector-categorias").val();
    let idEquipo = $("#modal-select-all #selector-equipos").val();

    let idCategorias = idEquipos= '';

    if(idCategoria.length  >= 1){
      idCategorias = idCategoria[0];
        if(idEquipo.length >= 1){
        idEquipos = idEquipo[0];
      }else{
        let array_equipos = array_estructura.find(x => x.id == idDeporte).categorias.find(x => x.id == idCategorias).equipos;

        array_equipos.forEach(function(item){
          idEquipos = item.id+', '+idEquipos;
        });
      }
    }else{
      let array_categorias = array_estructura.find(x => x.id == idDeporte).categorias;

      array_categorias.forEach(function(item){
        idCategorias = item.id+', '+idCategorias;

        let array_equipos = array_estructura.find(x => x.id == idDeporte).categorias.find(x => x.id == item.id).equipos;

        array_equipos.forEach(function(item2){
          idEquipos = item2.id+', '+idEquipos;
        });

      });
    }

    reload_pagina(idDeporte, idCategorias, idEquipos, idCliente, idSubCliente, idUsuario).done(function(res){
      location.reload();
    });
  });

  /* Al cambiar de deporte hago... */
  function seleccionar_categoria(idDeporte, categoria_defecto){
    let array_categorias = array_estructura.find(x => x.id == idDeporte).categorias;
    let options;

    //Vacio el selector de equipos
    $("#modal-select-all #selector-equipos").html(options);
    $('#modal-select-all #selector-equipos').selectpicker('refresh');

    if(array_categorias.length >= 1){

      //Recorro el array para crear las opciones
      array_categorias.forEach(function(item){
        if(options){
          options += "<option value='"+item.id+"'>"+item.nombre+"</option>";
        }else{
          options = "<option value='"+item.id+"'>"+item.nombre+"</option>";
        }
      });

      //Asigno las categorias en el selector
      $("#modal-select-all #selector-categorias").html(options);

      if(!categoria_defecto){
        if(array_categorias.length > 0 && array_categorias.length < 2){
          let first_option = $("#modal-select-all #selector-categorias option:first").val();
          $('#modal-select-all #selector-categorias').selectpicker('val', first_option);

          seleccionar_equipo(idDeporte, first_option);
        }
      }else{
        $('#modal-select-all #selector-categorias').selectpicker('val', categoria_defecto);

        let selected_equipo = global_idEquipos.split(',');
        let selected_equipo_length = selected_equipo.length;

        if(selected_equipo_length > 1){
          selected_equipo = '';
        }else{
          selected_equipo = selected_equipo[0];
        }
        seleccionar_equipo(idDeporte, categoria_defecto, selected_equipo);
      }

      $('#modal-select-all #selector-categorias').selectpicker('refresh');
      $('#modal-select-all #selector-categorias').selectpicker('show');
    }else{
      $('#modal-select-all #selector-categorias').selectpicker('hide');
    }
  }

  /* Al cambiar de categoria hago... */
  function seleccionar_equipo(idDeporte, idCategoria, equipo_defecto){
    let array_equipos = array_estructura.find(x => x.id == idDeporte).categorias.find(x => x.id == idCategoria).equipos;
    let options = '';

    if(array_equipos.length >= 1){

      //Recorro el array para crear las opciones
      array_equipos.forEach(function(item){
        options += "<option value='"+item.id+"'>"+item.nombre+"</option>";
      });

      //Asigno los equipos en el selector
      $("#modal-select-all #selector-equipos").html(options);

      if(!equipo_defecto){
        if(array_equipos.length > 0 && array_equipos.length < 2){
          let first_option = $("#modal-select-all #selector-equipos option:first").val();
          $('#modal-select-all #selector-equipos').selectpicker('val', first_option);
        }
      }else{
        $('#modal-select-all #selector-equipos').selectpicker('val', equipo_defecto);
      }

      $('#modal-select-all #selector-equipos').selectpicker('refresh');

    }else{
      //Asigno los equipos en el selector
      $("#modal-select-all #selector-equipos").html(options);
      $('#modal-select-all #selector-equipos').selectpicker('refresh');
    }

    $(".selectpicker-equipo").removeClass("d-none");
    $('#modal-select-all #selector-equipos').selectpicker('show');
  }

  /* Mostrar estructura cliente/subcliente */
  function lista_elementos(idCliente, idSubCliente, idUsuario, idioma){
    return $.ajax({
      type: 'POST',
      url: '/web_general/general.deporte_competicion_equipo',
      data: {
        idCliente: idCliente,
        idSubCliente: idSubCliente,
        idUsuario: idUsuario,
        idioma: idioma
      }
    });
  }

  /* Refresca pagina a la hora de aplicar los cambios */
  function reload_pagina(idDeporte, idCategorias, idEquipos, idCliente, idSubCliente, idUsuario){
    return $.ajax({
      type: 'POST',
      url: '/web_general/general.reload_page',
      data: {
        idDeporte: idDeporte,
        idCategorias: idCategorias,
        idEquipos: idEquipos,
        idCliente: idCliente,
        idSubCliente: idSubCliente,
        idUsuario: idUsuario
      }
    });
  }

  /* Al cambiar el valor del selector cliente llama a la funcion cambiar_entidad */
  $(document).on('change', '#lista-clientes', function(e){
    let idListaCliente = $('#lista-clientes').val();
    $("#div-subclientes").addClass('d-none');

    cambiar_entidad('cliente', idListaCliente);
  });

  $(document).on('change', '#lista-clientes_mov', function(e){
    let idListaCliente = $('#lista-clientes_mov').val();
    $("#div-subclientes_mov").addClass('d-none');

    cambiar_entidad('cliente', idListaCliente);
  });

  /* Al cambiar el valor del selector subcliente llama a la funcion cambiar_entidad */
  $(document).on('change', '#lista-sub-clientes', function(e){
    let idListaSubCliente = $('#lista-sub-clientes').val();

    cambiar_entidad('subCliente', idListaSubCliente);
  });

  $(document).on('change', '#lista-sub-clientes_mov', function(e){
    let idListaSubCliente = $('#lista-sub-clientes_mov').val();

    cambiar_entidad('subCliente', idListaSubCliente);
  });

  /* Refresca la pagina para cambiar de cliente/subcliente */
  function cambiar_entidad(tipo, parametro){
    $.ajax({
      type: 'GET',
      url: '/usuarios/users.modificar_entidad',
      data: {
        tipo: tipo,
        parametro: parametro
      },
      success: function(res) {
        location.reload();
      }
    });
  }

  /* Funcion global para mostrar la fecha y la hora actual */
  function current_datetime(){

    var today = new Date();

    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();
    var hour = today.getHours();
    var minutes = today.getMinutes();
    var seconds = today.getSeconds();

    if(dd<10){
      dd='0'+dd;
    }

    if(mm<10){
      mm='0'+mm;
    }

    if(minutes<10){
      minutes='0'+minutes;
    }

    if(seconds<10){
      seconds='0'+seconds;
    }

    var fecha_activacion = dd+'/'+mm+'/'+yyyy+" "+hour+":"+minutes+":"+seconds;

    return fecha_activacion;
  }

  /*Funcion que marca en el menu la pestaña abierta */
  function agregar_clase_navegacion() {

    var path = window.location.pathname;

    var search = window.location.search;

    path = path[0] == '/' ? path.substr(1) : path; //it will remove the dash in the URL

    //Asigna la clase active a los elementos del primer nivel

    $("ul.metismenu .menu a").each(function() {
      var href = $(this).attr('href');

      href = href[0] == '/' ? href.substr(1) : href;

      if (path.substring(0, href.length) === href) {
        $(this).closest('li').addClass('active');
      }

    });

    //Asigna la clase active a los elementos del segundo nivel

    $("ul.metismenu .menu .nav-second-level a").each(function() {

      var href = $(this).attr('href');
      href = href[0] == '/' ? href.substr(1) : href;
      href2 = href.split("?")

      if(path.substring(0, href.length) === href2[0]) {
        $(this).parent().parent().closest('li').addClass('active');
        $(this).closest('ul').addClass('in');
      }
    });

    //Asigna la clase active a los elementos del tercer nivel

    $("ul.metismenu .menu .nav-third-level a").each(function() {
      var href = $(this).attr('href');
      href = href[0] == '/' ? href.substr(1) : href;

      if((path + search) === href) {
        $(this).parent().parent().parent().parent().closest('li').addClass('active');
        $(this).parent().parent().parent().closest('ul').addClass('in');
        $(this).parent().parent().closest('li').addClass('active');
        $(this).parent().closest('li').addClass('active');
        $(this).closest('ul').addClass('in');
      }
    });
  }

</script>





<script type="text/javascript" src="/includes/general_scripts.js,ajax@ajaxCaller.js,ajax@sections.js"></script>

<script type="text/javascript">
<!--
window.onload = new Function('iniciaScripts','document.eBDPageReady=true;' + onload_calls);
// -->
</script>


</body>
</html>
