
<div id="modalStart">

</div>
<!-- MODAL END -->

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- <script module type="text/javascript">
  import html2canvas from 'html2canvas';
  import axios from 'axios';
</script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/simple-crypto-js@latest/dist/SimpleCrypto.min.js"></script> -->
<script module type="text/javascript">
// console.log("PRUEBA");


var randomNum = Math.floor((Math.random() * 8000000000000000) + 1000000000000000);
var queryControl ='https://bmdevel.1d3a.com/blackboard.datos?token='+randomNum;


function deleteGallery(gallery2delete){
  var params = new URLSearchParams();
  params.append('token', randomNum);
  axios({
    method: 'post',
    url: 'https://bmdevel.1d3a.com/blackboard.datos',
    data: params
  }).then(function(response){
    var params2 = new URLSearchParams();
    params2.append('token2', (response.data*randomNum)*2);
    params2.append('type', "delete");
    params2.append('idBlackboard', gallery2delete);
    axios({
      method: 'post',
      url: 'https://bmdevel.1d3a.com/blackboard.datos',
      data: params2
    }).then(function(response){
  console.log(response);
}).then(function(){
  location.reload();
});
  });
}

// html2canvas(document.getElementById="capture").then(function(canvas) {
//     // document.body.appendChild(canvas);
//     console.log(canvas);
// });

  var data=[];
axios.get(queryControl).then(function(response){
let query='https://bmdevel.1d3a.com/blackboard.datos?token2='+(response.data*randomNum)*2+'&type=searchGallery&idCliente=LocalHost';
axios.get(query).then(function(response){
if (response.data.length<1) {
  document.getElementById("isemptyblackboard").innerHTML='<br><br><div class="jumbotron jumbotron-fluid"><div class="container"><h1 class="display-4"><i class="fas fa-4x fa-exclamation-triangle"></i>NO HAY NINGUNA PIZARRA GUARDADA</h1><p class="lead">Para crear una nueva, presiona en el "+" en la parte superior izquierda.</p></div></div>';
// console.log("NO HAY NADA");
}
  for (var i = 0; i < response.data.length; i++) {
 console.log(response.data);
    var item = document.createElement("p");
    item.classList.add("itemGalleryTittle");
    // item.classList.add("bg-secondary");
    item.classList.add("container-fluid");

    var textnode = document.createTextNode(response.data[i].name);
    item.appendChild(textnode);

    var item2 = document.createElement("a");
    item2.href="/?uidUrl="+response.data[i].uidUrl ;
    item2.id="url"+i;
    item2.classList.add("itemGallery");
    item2.classList.add("UIDUrl");
    var textnode2 = document.createTextNode(response.data[i].uidUrl );
    item2.appendChild(textnode2);

    var item3 = document.createElement("p");
    item3.classList.add("itemGallery");
    var textnode3 = document.createTextNode(response.data[i].json);
    item3.appendChild(textnode3);

    var item4 = document.createElement("p");
    item4.classList.add("itemGallery");
    var textnode4 = document.createTextNode(response.data[i].idBlackboard );
    item4.appendChild(textnode4);

    var item5 = document.createElement("button");
    item5.classList.add("itemGallery");
    item5.classList.add("btn");
    item5.classList.add("btn-lg");
    item5.classList.add("btn-danger");
    item5.classList.add("deleteGallery3");
    item5.innerHTML="Si, eliminar";
    item5.id=i;
    item5.uidUrld='"'+response.data[i].uidUrl+'"';

var attItem5 = document.createAttribute("onclick");
 attItem5.value = 'deleteGallery('+item5.uidUrld+');';
item5.setAttributeNode(attItem5);


var item6 = document.createElement("button");
item6.classList.add("itemGallery");
item6.classList.add("btn");
item6.classList.add("btn-danger");
item6.innerHTML="ELIMINAR";
var attitem6 = document.createAttribute("data-toggle");
 attitem6.value = "modal";
item6.setAttributeNode(attitem6);
var att2item6 = document.createAttribute("data-target");
 att2item6.value = "#exampleModal"+i;
item6.setAttributeNode(att2item6);


item7 = document.createElement("div");
item7.innerHTML='<div class="modal fade" id="exampleModal'+i+'" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">'+
'<div class="modal-dialog modal-dialog-centered" role="document"><div class="modal-content"><div class="modal-header">'+
'<h5 style="font-size:3em;" class="modal-title" id="ModalTitle">Eliminar Pizarra</h5>'+
'<button type="button" class="close" data-dismiss="modal" aria-label="Close">'+
'<span aria-hidden="true">&times;</span></button></div><div style="margin: auto;" class="modal-body" id="ModalBody">'+
'<p style="font-size: 1.5em;">¿Está Seguro? Esta acción es irreversible.</p>'+
'<div style="display:flex;"><div id="deletebutton'+i+'"></div>'+
'<button type="button" class="btn btn-lg btn-secondary" data-dismiss="modal">Cancelar</button></div></div>';


item8 = document.createElement("img");
item8.src =response.data[i].screenshot;
// '<div class="modal-footer"><button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>'+
// '<button type="button" class="btn btn-primary">Save changes</button></div></div></div></div>';





    var containerItem = document.createElement("div");
    containerItem.classList.add("col-4");
    containerItem.classList.add("connect-cat");
    containerItem.innerHTML='<div class="card ">'+
      '<a href="/?uidUrl='+response.data[i].uidUrl+'"><img src="'+response.data[i].screenshot+'" class="card-img-top" alt="..."/></a>'+
      '<div class="card-body "><a href="/?uidUrl='+response.data[i].uidUrl+'"><h5 class="card-title name">'+response.data[i].name+'</h5></a>'+
        '<p class="card-text">'+response.data[i].Blackboard_Created+'</p>'+
        '<p class="card-text">'+response.data[i].Blackboard_ClientID+'</p>'+
        '<p class="card-text">'+response.data[i].Blackboard_LastEdited+'</p>'+
        '<p class="card-text category">'+response.data[i].observaciones+'</p>'+
        '<a class="itemGallery btn btn-danger" data-toggle="modal" data-target="#exampleModal'+i+'"><i class="fas fa-trash-alt"></i></a>'+
        '<a class="itemGallery btn btn-primary" data-toggle="modal" data-target="#editModal'+i+'"><i class="fas fa-edit"></i></a>'+
        '</div></div>';

    // containerItem.classList.add("bg-primary");
    // containerItem.style="background-image: url("+response.data[i].Blackboard_Screenshot+");background-position: center;background-size: cover;";
    document.getElementById("BlackboardGallery").appendChild(containerItem);

    // containerItem.appendChild(item);
    // containerItem.appendChild(item2);
    // containerItem.appendChild(item3);
    // containerItem.appendChild(item4);
    // containerItem.appendChild(item6);

    // containerItem.appendChild(item8);
    document.getElementById("modalStart").appendChild(item7);
    document.getElementById("deletebutton"+i).appendChild(item5);




  }
});
});
function updateHeightViewport(){

  if (document.getElementById("containerGalleryID")) {
    console.log(window.innerHeight);
    // document.getElementById("containerGalleryID").style.height=window.innerHeight+"px";
     document.getElementById("containerGalleryID").style.height=window.innerHeight-72+"px";


  }
  console.log("FUNCIONADO");
}

window.addEventListener('resize', updateHeightViewport);
window.addEventListener('scroll', updateHeightViewport);
window.addEventListener('ontouchstart', updateHeightViewport);

window.onload=function(){
  updateHeightViewport();
  document.getElementById("box").oninput=function(){
  var matcher = new RegExp(document.getElementById("box").value, "gi");
  for (var i=0;i<document.getElementsByClassName("connect-cat").length;i++) {
    if (matcher.test(document.getElementsByClassName("name")[i].innerHTML) || matcher.test(document.getElementsByClassName("category")[i].innerHTML)) {
      document.getElementsByClassName("connect-cat")[i].style.display="block";
    }else{
      document.getElementsByClassName("connect-cat")[i].style.display="none";
    }

  }
  }
}




//esto tiene que ver con la galeria de objetos para mostrar los resultados mediante un regex




</script>

<!-- <style media="screen">

  p.itemGallery {
    max-width: 212px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight:bolder;
    color:black;
    font-size:1em;
}
p.itemGalleryTittle {
  font-weight:bolder;
  font-size:2em;
  color:black;
}
#BlackboardGallery .col{
  /* background:blue; */
  padding:1em;
  margin:1em;
  border-radius:1em;
}
</style> -->

<div id="modals">

</div>


<div id="containerGalleryID" class="containerGallery container">

  <div id="BlackboardGallery" class="row ">

    <div class="row" style="width:100%;margin:auto;background:white;">
      <div style="display:flex;" class="form-group">
        <button onclick="location.href='/';" id="createNewBlackBoard" type="button" class="btn btn-light" name="button">
        <i class="fas fa-2x fa-plus"></i>
      </button>
    <input placeholder="Buscar..."  class="form-control form-control-lg" id="box" type="text" style="width:90%;height: 3em;margin-top:0.23em;" />
      </div>
    </div>
<div id="isemptyblackboard">

</div>


  </div>
</div>
