<div class="modal fade" id="saveBlackboard" tabindex="-1" role="dialog" >
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Guardar Pizarra</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <input id="saveBlackboardInputName" type="text" class="form-control-lg" placeholder="Introduce un texto">
      <button id="saveBlackboardInputSubmit" type="button" name="button" class="btn-Tercero btn btn-lg btn-primary btn-block" data-dismiss="modal">
        Guardar Pizarra Nueva
      </button>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<nav id="menuVertical" class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <a href="/informacion-cliente"><img src="" class="logo_cliente lateral" alt=""></a>

          <div class="informacion_lateral">
            <center><a href="/informacion-cliente" class="nombre_cliente lateral"></a></center>
            <center><p><a href="/modificar-perfil" class="nombre_cliente lateral"> </a></p></center>
          </div>
        </div>
      </li>
      <!-- Es El menu PRINCIPAl -->

    <li>
    <a href="#"><i class="fas fa-plus"></i>
            <span class="nav-label" data-toggle="modal" data-target="#crear">Crear Objetos</span>
          </a>
          </li>

      <li>    <a href="/">
          <i class="fas fa-plus"></i>
            <span class="nav-label">Crear Nueva Pizarra</span>
          </a></li>

     <!-- <li>     <a href="/create/">
          <i class="fas fa-plus"></i>
            <span class="nav-label">Crear Nueva Pizarra</span>
          </a></li> -->

       <li>   <a href="/portal/">
          <i class="fas fa-plus"></i>
            <span class="nav-label">Galeria de pizarras</span>
          </a></li>

      <li>    <a data-toggle="modal" data-target="#saveBlackboard">
          <i class="fas fa-plus"></i>
            <span class="nav-label">GUARDAR PIZARRA</span>
          </a></li>
       <li style="display:none;">   <a id="abrirDBInput">
          <i class="fas fa-plus"></i>
            <span class="nav-label">ABRIR PIZARRA</span>
          </a></li>
      <!-- es el menu de las opciones -->
      <li class="active" style="display:none;">
        <a href="#">
          <i class="fas fa-cog" aria-hidden="true"></i>
          <span class="nav-label">Configurar</span> <span class="fa arrow" aria-hidden="true"></span>
        </a>
        <ul class="nav nav-second-level">
          <li class="active"><a href="/invitaciones">Usuarios</a></li>
          <li class="active"><a href="/categorias">Categorias</a></li>
          <li class="active"><a href="/competiciones">Competiciones</a></li>
        </ul>
      </li>

    </ul>
  </div>
</nav>



<!-- NUEVO  -->
