<nav id="menuHorizontal" class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <a class="navbar-minimalize minimalize-styl-2"><i class="fa fa-bars rotate"></i> </a>
      <a href="/informacion-cliente" title="">
        <img id="logo_clienteID" src="/imgfiles/blackboard3D/models/campFutbol/soccer_stadium_blend/textures/logo.png" class="logo_cliente" alt="logo cliente">
      </a>

    </div>



    <div class="ml-auto mt-2 form-inline d-none d-sm-flex mr-3" id="inline-select">





    </div>



    <div class="dropdown profile-element d-flex align-items-center" id="profile">
      <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="true">
        <img alt="image" src="/files/43-853-fichero/tmpRPIoxdlvtNKwSuam.com" id="img-profile">
      </a>
      <ul class="dropdown-menu animated fadeInRight m-t-xs" id="profile-menu">
        <li><a class="dropdown-item" href="/modificar-login">Cambiar Login</a></li>
        <li><a class="dropdown-item" href="/modificar-perfil">Editar Perfil</a></li>
        <!--<li class="dropdown-divider"></li>--> <!-- es la linea divisoria entre Editar perfil y logout -->
        <li><a class="dropdown-item" href="/logout">Salir</a></li>
      </ul>
    </div>



    <div class="col-12">
      <div class="d-flex d-sm-none">




      </div>
    </div>

  </nav>
