<eBD:USE LIB="Utilidades"/>
<style>
  
  .informacion_lateral
  {
    margin-top: 20px;
  }
  
  .informacion_lateral {
    font-size: 17px;
  }
  
</style>
<eBD:CALL FUNCTION="getUser" VAR="hash_usuario" idUsuario="%idUsuario"/>
<eBD:CALL FUNCTION="getClient" VAR="hash_cliente" idCliente="%idempresa" idSubcliente="%idSubCliente"/>

<eBD:SET VAR="logo" VALUE="@hash_cliente{logo}" />
<eBD:SET VAR="nombre" VALUE="@hash_cliente{nombre}" />
<eBD:SET VAR="nombre_apellidos" VALUE="@hash_usuario{nombre} @hash_usuario{apellidos}" />

<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <a href="/informacion-cliente"><img src="<eBD:OUT VALUE='$logo' />" class="logo_cliente lateral" alt=""></a>
        
          <div class="informacion_lateral">
            <center><a href="/informacion-cliente" class="nombre_cliente lateral"><eBD:OUT VALUE="$nombre" /></a></center>
            <center><p><a href="/modificar-perfil" class="nombre_cliente lateral"><eBD:OUT VALUE="$nombre_apellidos" /></a></p></center>
          </div>  
        </div>
      </li>

      <!-- es el menu de las opciones -->
      <li class="active">
        <a href="#">
          <i class="fas fa-cog"></i> 
          <span class="nav-label">Configurar</span> <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level">
          <li class="active"><a href='/invitaciones'>Usuarios</a></li>
          <li class="active"><a href='/categorias'>Categorias</a></li>
          <li class="active"><a href='/competiciones'>Competiciones</a></li>
        </ul>
      </li>
      
    </ul>
  </div>
</nav>
