<eBD:ARGS name="src" DEFAULT="" />
<eBD:ARGS name="logo" DEFAULT="" />

<eBD:SET VAR="idioma" VALUE="es" />

<eBD:INCLUDE SECTION="idioma_plataforma" idioma="$idioma"/>

<eBD:SET TEMPORAL="tieneClientes" VALUE="No" />
<eBD:SET TEMPORAL="tieneSubClientes" VALUE="No" />

<eBD:SET VAR="informacion_clinete" VALUE="#[eBDLocale.literal(informacion_clinete)]" />
<eBD:SET VAR="boton_salir" VALUE="#[eBDLocale.literal(salir)]" />
<eBD:SET VAR="boton_editar_perfil" VALUE="#[eBDLocale.literal(editar_perfil)]" />
<eBD:SET VAR="boton_cambiar_login" VALUE="#[eBDLocale.literal(cambiar_login)]" />

<eBD:IF EXPR="%userMaster == 'S'">
  <eBD:QUERY NAME="clientes" DATASOURCE="Principal">
    SELECT DISTINCT(su.idCliente),c.nombre, c.alias
    FROM am_licenciaServicioCliente ls
    inner join am_servicioClientes su ON ls.idServicioCliente = su.idServicioCliente
    inner join am_clientes c ON c.idCliente = su.idCliente
    inner join am_servicios se ON se.idServicio = su.idServicio 
    WHERE ls.activo = 'S' AND ls.idServicioCliente in ( SELECT DISTINCT(sc.idServicioCliente)
                                                        FROM am_servicioClientes sc
                                                        inner join am_servicioUsuarios su ON sc.idServicioCliente = su.idServicioCliente
                                                        WHERE sc.activo = 'S' and su.activo = 'S' AND idServicio in ( SELECT idServicio FROM am_servicios s
                                                                                                                      inner join am_tiposServicio ts ON ts.idTipoServicio = s.idTipoServicio 
                                                                                                                      WHERE ts.url= '%plataforma' AND activo ='S')
                                                      )
    order by 1
  </eBD:QUERY>
</eBD:IF>

<eBD:IF EXPR="'%adminCliente' == 'S' || %userMaster == 'S'">
  <eBD:QUERY NAME="sub_clientes" DATASOURCE="Principal">
    SELECT DISTINCT(su.idSubCliente), sc.nombre, sc.alias
    FROM am_licenciaServicioCliente ls
    inner join am_servicioClientes su ON ls.idServicioCliente = su.idServicioCliente
    inner join am_subClientes sc ON sc.idSubCliente= su.idSubCliente
    inner join am_servicios se ON se.idServicio = su.idServicio
    WHERE ls.activo = 'S' AND ls.idServicioCliente in ( SELECT DISTINCT(sc.idServicioCliente)
                                                        FROM am_servicioClientes sc
                                                        WHERE sc.activo = 'S' AND idCliente= %idempresa
                                                        AND idServicio in (SELECT idServicio FROM am_servicios s
                                                        inner join am_tiposServicio ts ON ts.idTipoServicio = s.idTipoServicio 
                                                        WHERE ts.url= '%plataforma' AND activo ='S'))
  </eBD:QUERY>
</eBD:IF>

<eBD:SET VAR="margin_right" VALUE="" />

<div class="row border-bottom">
  <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <a class="navbar-minimalize minimalize-styl-2"><i class="fa fa-bars rotate"></i> </a>
      <a href="/informacion-cliente" title="<eBD:OUT VALUE='$informacion_clinete' />">
        <img src="<eBD:OUT VALUE='$logo' />" class="logo_cliente" alt="logo cliente">
      </a>
      
    </div>
    
    <eBD:DOC>
      Selector version PC
    </eBD:DOC>
    
    <div class="ml-auto mt-2 form-inline d-none d-sm-flex mr-3" id="inline-select">
        
      <eBD:IF EXPR="&clientes >= 1">
        <eBD:SET TEMPORAL="tieneClientes" VALUE="Si" /> <!-- Variable temporal -->
        
        <eBD:IF EXPR="&sub_clientes < 1">
          <eBD:SET VAR="margin_right" VALUE="class='mr-5'" />
        </eBD:IF>
        
        <div <eBD:OUT VALUE="$margin_right" />>
          <select class="custom-select subirvideinput select-entity" id="lista-clientes" style="width: 100%;">
            <eBD:FOREACH QUERY="clientes">
              <eBD:FETCHROW QUERY="clientes" NAME="cl"/>
              <eBD:SET VAR="alias" VALUE="" />
              <eBD:SET VAR="nombre_cliente" VALUE="" />
              
              <eBD:SET VAR="alias" VALUE="&cl.alias" />
              <eBD:SET VAR="nombre_cliente" VALUE="&cl.nombre" />
              
              <eBD:IF EXPR="%idempresa == &cl.idCliente">
                <option value="<eBD:OUT VALUE='&cl.idCliente' />" alias="<eBD:OUT VALUE='$alias' />" selected><eBD:OUT VALUE='$nombre_cliente' /></option>
                    <eBD:ELSE>
                  <option value="<eBD:OUT VALUE='&cl.idCliente' />" alias="<eBD:OUT VALUE='$alias' />"><eBD:OUT VALUE='$nombre_cliente' /></option>
                </eBD:ELSE>
              </eBD:IF>
                
            </eBD:FOREACH>
          </select>
        </div>  
      </eBD:IF>
        
      <eBD:IF EXPR="&sub_clientes >= 1">
        <eBD:SET VAR="alias" VALUE="" />
        <eBD:SET VAR="nombre_cliente" VALUE="" />
        <eBD:QUERY NAME="nombre_cliente" DATASOURCE="Principal">
          SELECT nombre, alias 
          FROM am_clientes 
          WHERE idCliente = %idempresa
        </eBD:QUERY>
        <eBD:IF EXPR="&nombre_cliente >= 1">
          <eBD:FETCHROW QUERY="nombre_cliente" NAME="nc"/>
          <eBD:SET VAR="alias" VALUE="&nc.alias" />
          <eBD:SET VAR="nombre_cliente" VALUE="&nc.nombre" />
        </eBD:IF>
        
        <eBD:SET TEMPORAL="tieneSubClientes" VALUE="Si" /> <!-- Variable temporal -->
        <div class="ml-3" id="div-subclientes">
          <select class="custom-select subirvideinput select-entity" id="lista-sub-clientes" style="width: 100%;">
            <option value="-1" alias="<eBD:OUT VALUE='$alias' />" ><eBD:OUT VALUE='$nombre_cliente' /></option>
            <eBD:FOREACH QUERY="sub_clientes">
              <eBD:FETCHROW QUERY="sub_clientes" NAME="sc"/>
              <eBD:SET VAR="alias" VALUE="" />
              <eBD:SET VAR="nombre_cliente" VALUE="" />
              
              <eBD:SET VAR="alias" VALUE="&sc.alias" />
              <eBD:SET VAR="nombre_cliente" VALUE="&sc.nombre" />
              <option value="<eBD:OUT VALUE='&sc.idSubCliente' />" alias="<eBD:OUT VALUE='$alias' />"><eBD:OUT VALUE='$nombre_cliente' /></option>
            </eBD:FOREACH>
          </select>
        </div>
      </eBD:IF>
      
    </div>
    
    <eBD:DOC>
      Mini-perfil
    </eBD:DOC>
    
    <div class="dropdown profile-element d-flex align-items-center" id="profile">
      <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="true">
        <img alt="image" src="<eBD:OUT VALUE='$src' />" id="img-profile">
      </a>
      <ul class="dropdown-menu animated fadeInRight m-t-xs" id="profile-menu">
        <li><a class="dropdown-item" href="/modificar-login"><eBD:OUT VALUE="$boton_cambiar_login" /></a></li>
        <li><a class="dropdown-item" href="/modificar-perfil"><eBD:OUT VALUE="$boton_editar_perfil" /></a></li>
        <!--<li class="dropdown-divider"></li>--> <!-- es la linea divisoria entre Editar perfil y logout -->
        <li><a class="dropdown-item" href="/logout"><eBD:OUT VALUE="$boton_salir" /></a></li>
      </ul>
    </div>
    
    <eBD:DOC>
      Selector version Mobile
    </eBD:DOC>
    
    <div class="col-12">
      <div class="d-flex d-sm-none">
        
        <eBD:IF EXPR="&clientes >= 1">
          <eBD:SET TEMPORAL="tieneClientes" VALUE="Si" />
          <div class="col-md-6">
            <select class="custom-select subirvideinput select-entity" id="lista-clientes_mov" style="width: 100%;">
              <eBD:FOREACH QUERY="clientes">
                <eBD:FETCHROW QUERY="clientes" NAME="cl"/>
                <eBD:SET VAR="alias" VALUE="" />
                <eBD:SET VAR="nombre_cliente" VALUE="" />
                
                <eBD:SET VAR="alias" VALUE="&cl.alias" />
                <eBD:SET VAR="nombre_cliente" VALUE="&cl.nombre" />
                
                <eBD:IF EXPR="%idempresa == &cl.idCliente">
                  <option value="<eBD:OUT VALUE='&cl.idCliente' />" alias="<eBD:OUT VALUE='$alias' />" selected><eBD:OUT VALUE='$nombre_cliente' /></option>
                      <eBD:ELSE>
                    <option value="<eBD:OUT VALUE='&cl.idCliente' />" alias="<eBD:OUT VALUE='$alias' />"><eBD:OUT VALUE='$nombre_cliente' /></option>
                  </eBD:ELSE>
                </eBD:IF>
                  
              </eBD:FOREACH>
            </select>
          </div>
        </eBD:IF>
          
        <eBD:IF EXPR="&sub_clientes >= 1">
          <eBD:SET VAR="alias" VALUE="" />
          <eBD:SET VAR="nombre_cliente" VALUE="" />
          <eBD:QUERY NAME="nombre_cliente" DATASOURCE="Principal">
            SELECT nombre, alias 
            FROM am_clientes 
            WHERE idCliente = %idempresa
          </eBD:QUERY>
          <eBD:IF EXPR="&nombre_cliente >= 1">
            <eBD:FETCHROW QUERY="nombre_cliente" NAME="nc"/>
            <eBD:SET VAR="alias" VALUE="&nc.alias" />
            <eBD:SET VAR="nombre_cliente" VALUE="&nc.nombre" />
          </eBD:IF>
          
          <eBD:SET TEMPORAL="tieneSubClientes" VALUE="Si" /> <!-- Variable temporal -->
          <div class="col-md-6" id="div-subclientes_mov">
            <select class="custom-select subirvideinput select-entity" id="lista-sub-clientes_mov" style="width: 100%;">
              <option value="-1" alias="<eBD:OUT VALUE='$alias' />" ><eBD:OUT VALUE='$nombre_cliente' /></option>
              <eBD:FOREACH QUERY="sub_clientes">
                <eBD:FETCHROW QUERY="sub_clientes" NAME="sc"/>
                <eBD:SET VAR="alias" VALUE="" />
                <eBD:SET VAR="nombre_cliente" VALUE="" />
                
                <eBD:SET VAR="alias" VALUE="&sc.alias" />
                <eBD:SET VAR="nombre_cliente" VALUE="&sc.nombre" />
                <option value="<eBD:OUT VALUE='&sc.idSubCliente' />" alias="<eBD:OUT VALUE='$alias' />"><eBD:OUT VALUE='$nombre_cliente' /></option>
              </eBD:FOREACH>
            </select>
          </div>
        </eBD:IF>
      </div>
    </div>
    
  </nav>
</div>
