<html>
<head>
  <title>MOTOR AI ARTI</title>
  <% include ../../essentials/headScripts.html %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
<h1 class="mx-auto">AI ARTI MOTOR: Tittle</h1>
<div class="row">
  <div class="col">
    <span>CATEGORIA/TITULO</span>
    <input type="text" name="" value="CATEGORIA">
  </div>
  <div class="col">
    <span>PAIS/IDIOMA - CO/EN/MX/VE/PE/PT</span>
    <input type="text" name="" value="PAIS/IDIOMA">
  </div>
  <div class="col">
    <span>¿AutoAprendizaje?</span>
    <select name="">
      <option value="" selected>SI</option>
      <option value="" >NO</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col">
    Título
  </div>
  <div class="col">
    Nota
  </div>
</div>
<div class="row">
  <h1 id="betterTittle"></h1>
</div>
<script type="text/javascript" src="/axiosGET/axios.js"></script>

<div id="infoPage">

</div>

      </div>
    </div>

  </body>
</html>
