<html>
<head>
  <title>MOTOR AI ARTI</title>
  <% include ../../essentials/headScripts.html %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <h1 class="mx-auto">TEST AXIOS</h1>

<script type="text/javascript" src="/axiosGET/axios.js"></script>

<div id="infoPage">
test
</div>

      </div>
    </div>

  </body>
</html>
